---
import { components } from "src/lib/mdx";
import { getCollection } from "astro:content";
import { type PageMetadata } from "@lib/types";
import { getOpenGraphImageData } from "@lib/og-image";

export async function getStaticPaths() {
  return [
    {
      params: { name: "overview" },
      props: {
        prefix: "overview/",
        metadata: {
          title: "Overview",
          description: "An overview of the Digital Accessibility Framework",
          image: getOpenGraphImageData(
            Astro.site,
            "pages",
            "daf",
            "An overview of the Digital Accessibility Framework",
          ),
        },
      },
    },
    {
      params: { name: "framework" },
      props: {
        prefix: "framework/",
        metadata: {
          title: "Framework",
          description:
            "The high-level breakdown of the Digital Accessibility Framework",
          image: getOpenGraphImageData(
            Astro.site,
            "pages",
            "daf",
            "The high-level breakdown of the Digital Accessibility Framework",
          ),
        },
      },
    },
    {
      params: { name: "matrix" },
      props: {
        prefix: "matrix/",
        metadata: {
          title: "Matrix",
          description: "The matrix of the Digital Accessibility Framework",
          image: getOpenGraphImageData(
            Astro.site,
            "pages",
            "daf",
            "The matrix of the Digital Accessibility Framework",
          ),
        },
      },
    },
    {
      params: { name: "roadmap" },
      props: {
        prefix: "roadmap/",
        metadata: {
          title: "Roadmap",
          description: "The roadmap of the Digital Accessibility Framework",
          image: getOpenGraphImageData(
            Astro.site,
            "pages",
            "daf",
            "The roadmap of the Digital Accessibility Framework",
          ),
        },
      },
    },
  ];
}

interface Props {
  prefix: string;
  metadata: PageMetadata;
}
const { prefix, metadata } = Astro.props;

const entries = await getCollection("daf", (entry) =>
  entry.slug.startsWith(prefix),
);
entries.sort((a, b) => a.data.order - b.data.order);
const renderedEntries = await Promise.all(
  entries.map(async (entry) => await entry.render()),
);

import DAFLayout from "src/layouts/DAFLayout.astro";
import ThemedSection from "@components/ThemedSection.astro";
---

<DAFLayout {metadata}>
  <div class="daf">
    {
      renderedEntries.map(({ Content }, index) => (
        <ThemedSection
          theme={index % 2 === 0 ? undefined : "secondary"}
          style={index % 2 === 0 ? "primary" : "subtle"}
          py={4}
        >
          <Content {components} />
        </ThemedSection>
      ))
    }
  </div>
</DAFLayout>

<style scoped>
  .daf :global(h1) {
    margin-bottom: 1em;
  }
  .daf :global(h2) {
    font-size: 1.5rem;
    margin-bottom: 1em;
  }
  .daf :global(h3) {
    font-size: 1.3rem;
    margin-bottom: 1em;
  }
  .daf :global(h4) {
    font-size: 1.15rem;
    margin-bottom: 1em;
  }
</style>
