---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import Branding from "../../components/Branding.astro";
import ExternalLink from "../../components/ExternalLink.astro";
import Hero from "../../components/Hero.astro";
import Layout from "../../layouts/Layout.astro";
import ShadowBoxSection from "../../components/ShadowBoxSection.astro";
import ThemedSection from "../../components/ThemedSection.astro";

import heroBg from "../../images/colored-hero/woman-using-laptop.png";
import tallyScreen from "../../images/tally-screenshot.png";

const services = [
  {
    icon: "ta11y-logo",
    name: "ta11y",
    title: "ta11y.org",
    text: "An online tool for learning about and evaluating the accessibility of social media, websites, facilities, events and procedures.",
    link: "https://www.ta11y.org",
  },
  {
    icon: "mutua11y-logo",
    name: "mutua11y",
    title: "mutua11y.org",
    text: "A platform for communities, local government, organizations and accessibility professionals to share information and ideas.",
    link: "https://www.mutua11y.org",
  },
  {
    icon: "loca11y-logo",
    name: "loca11y",
    title: "loca11y.org",
    text: "A tool for people with disabilities to find and recommend organizations and events where they can participate and engage.",
    // link: 'https://www.loca11y.org',
  },
];
---

<Layout title="Services">
  <Hero
    theme="secondary-subtle"
    columns="col-sm-12 col-md-9 col-lg-7 col-xl-6 col-xxl-5"
    slot="header"
  >
    <div class="py-4" slot="heading">
      <h1 class="display-2 px-2 text-primary">
        Accessible <strong>Tools</strong> and <strong>Services</strong>
      </h1>
    </div>
    <div slot="prologue" class=text-white>
      Getting started in accessibility? Learn more with our <a
        class="link-light"
        href="/services/tip-of-the-week">Tip of the Week</a
      >.
    </div>
  </Hero>

  <ThemedSection theme="secondary-subtle" py={4}>
    <h2>Overview</h2>
    <div class="text-bg-hero text-brand mb-3">
      We create tools and services to <strong>teach accessibility</strong>
      and <strong>promote accessible organizations</strong>. We practice what we
      preach; the tools we develop are fully accessible, following the best
      practices, guidelines and standards to ensure usability, not just
      compliance.
    </div>
    <div class="row g-2">
      <div class="col-md-6 mb-3 mb-sm-0">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Educational Resources</h3>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam quisquam dolores, ullam corrupti perspiciatis eius.</p>
            <a href=#education class="icon-link text-nowrap me-4 mt-0 mt-lg-2 mt-xl-0">
              Learn More
              <span class="visually-hidden">about Education</span>
              <Icon
                name="bi:arrow-down-square"
                class="bi"
                role="img"
                aria-hidden="true"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3 mb-sm-0">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Evaluations</h3>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima quasi necessitatibus aliquid eaque illum non!</p>
            <a href=#education class="icon-link text-nowrap me-4 mt-0 mt-lg-2 mt-xl-0">
              Learn More
              <span class="visually-hidden">about Education</span>
              <Icon
                name="bi:arrow-down-square"
                class="bi"
                role="img"
                aria-hidden="true"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3 mb-sm-0">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Career Growth and Mentorship</h3>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore sequi, eligendi eveniet soluta dolor dolores.</p>
            <a href=#education class="icon-link text-nowrap me-4 mt-0 mt-lg-2 mt-xl-0">
              Learn More
              <span class="visually-hidden">about Education</span>
              <Icon
                name="bi:arrow-down-square"
                class="bi"
                role="img"
                aria-hidden="true"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3 mb-sm-0">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Accessible Activities</h3>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam quisquam dolores, ullam corrupti perspiciatis eius.</p>
            <a href=#education class="icon-link text-nowrap me-4 mt-0 mt-lg-2 mt-xl-0">
              Learn More
              <span class="visually-hidden">about Education</span>
              <Icon
                name="bi:arrow-down-square"
                class="bi"
                role="img"
                aria-hidden="true"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </ThemedSection>

  <ThemedSection id="mutua11y" theme="tertiary">
    <h2 class="display-3">
      Educational Resources
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta laboriosam molestiae dolorem maiores assumenda dolores, optio molestias hic est earum maxime nulla! Voluptates est non tempore natus ab quia repudiandae alias ipsum et! Tenetur deleniti expedita delectus consequuntur est recusandae debitis id quaerat quo et repellat consectetur, rerum officiis aliquid.
    </p>
    <ul class="list-spaced">
      <li><a href="">Read our Tip of the Week newsletter</a></li>
      <li><a href="">Learn from an inaccessible website on fixable</a></li>
      <li><ExternalLink>Take our online accessibility course</ExternalLink></li>
      <li><ExternalLink>Read our learning content articles on ta11y.org</ExternalLink></li>
    </ul>
  </ThemedSection>

  <ThemedSection id="loca11y" theme="secondary-subtle">
    <h2 class="display-3">
      Evaluations
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta laboriosam molestiae dolorem maiores assumenda dolores, optio molestias hic est earum maxime nulla! Voluptates est non tempore natus ab quia repudiandae alias ipsum et! Tenetur deleniti expedita delectus consequuntur est recusandae debitis id quaerat quo et repellat consectetur, rerum officiis aliquid.
    </p>
    <ul class="list-spaced">
      <li><a href="">Get accessibility guidance from our Evaluations Team</a></li>
      <li><ExternalLink>Evaluate your web and social content at ta11y.org</ExternalLink></li>
    </ul>
  </ThemedSection>
  <ThemedSection id="loca11y" theme="tertiary">
    <h2 class="display-3">
      Career Growth and Mentorship
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quibusdam sapiente nobis sint rem provident dolores vel atque unde, sit quod nam cupiditate. Asperiores, neque ratione quas vitae officia earum fuga modi? Corrupti iusto distinctio ipsum optio, hic illum quod similique laborum at quam fugiat. Quos commodi molestias reiciendis expedita.
    </p>
    <ul class="list-spaced">
      <li><a href="">Explore volunteer opportunities with Accessible Community</a></li>
      <li><ExternalLink>Join an accessibility workshop at mutua11y.org</ExternalLink></li>
      <li><ExternalLink>Find an accessibility internship at mutua11y.org</ExternalLink></li>
      <li><ExternalLink>Become a mentor at mutua11y.org</ExternalLink></li>
      <li><ExternalLink>Connect with a mentor at mutua11y.org</ExternalLink></li>
    </ul>
  </ThemedSection>
  <ThemedSection id="loca11y" theme="secondary-subtle">
    <h2 class="display-3">
      Accessible Activities
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quibusdam sapiente nobis sint rem provident dolores vel atque unde, sit quod nam cupiditate. Asperiores, neque ratione quas vitae officia earum fuga modi? Corrupti iusto distinctio ipsum optio, hic illum quod similique laborum at quam fugiat. Quos commodi molestias reiciendis expedita.
    </p>
    <ul class="list-spaced">
      <li><a href="">Order an Accessible Escape Room kit</a></li>
      <li><ExternalLink>Find accessible businesses, organizations, and events on loca11y.org</ExternalLink></li>
    </ul>
  </ThemedSection>
</Layout>

<style lang="scss">
  @import "bootstrap/scss/functions";
  @import "bootstrap/scss/variables";
  @import "bootstrap/scss/mixins/breakpoints";

  .hero-bd {
    border-radius: 0.2em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .feature-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.75rem;
  }

  .feature-icon .bi {
    height: 1.5em;
    width: auto;
  }

  [data-icon="loca11y-logo"] {
    margin-left: 0.2em;
  }

  .ta11y-screen {
    transform: translateX(-140px);
  }

  @include media-breakpoint-up(lg) {
    .ta11y-screen {
      transform: translateX(-165px) translateY(45px) rotate(10deg);
    }
  }
</style>
