---
// TODO: Merge this into the DAFLayout.
import defaultComponents from "src/lib/mdx";
import { render, type CollectionEntry } from "astro:content";
import { type PageMetadata } from "@lib/types";

interface Props {
  entry: CollectionEntry<"daf">;
  metadata: PageMetadata;
}
const { entry, metadata } = Astro.props;
const { Content } = await render(entry);

import DAFLayout from "src/layouts/DAFLayout.astro";
import ThemedSection from "@components/ThemedSection.astro";

const components = { Section: ThemedSection, ...defaultComponents };
---

<DAFLayout {metadata}>
  <div class="daf-sl">
    <Content {components} />
  </div>
</DAFLayout>

<style scoped>
  .daf-sl :global(h1) {
    margin-bottom: 1em;
  }
  .daf-sl :global(h2) {
    font-size: 1.5rem;
    margin-bottom: 1em;
  }
  .daf-sl :global(h3) {
    font-size: 1.3rem;
    margin-bottom: 1em;
  }
  .daf-sl :global(h4) {
    font-size: 1.15rem;
    margin-bottom: 1em;
  }
  .daf-sl :global(section:nth-child(even)) {
    background-color: var(--bs-secondary-bg-subtle) !important;
  }
  /* Copy py-4 style */
  .daf-sl :global(section) :global(.py-5) {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
</style>
