---
import { type PageMetadata } from "../lib/types";
import "../styles/bootstrap.scss";

import FooterER from "@components/FooterER.astro";
import HeaderER from "@components/HeaderER.astro";
import Metadata from "@components/Metadata.astro";

interface Props {
  title: string;
  metadata?: PageMetadata;
}

const { metadata, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noarchive" />

    {
      metadata && (
        <Metadata {...metadata}>
          <slot name="metadata" slot="metadata" />
        </Metadata>
      )
    }
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <slot name="head" />
  </head>

  <body>
    <!-- Custom Header -->
    <HeaderER {title} />

    <main id="main-content">
      <div class="content-spacer"></div>
      <slot name="header" />
      <slot />
    </main>

    <FooterER />

    <script src="../scripts/headings.js"></script>
    <script src="../scripts/body-no-scroll.js"></script>
  </body>
</html>

