---
import { type Breadcrumbs, type PageMetadata } from "../lib/types";

interface Props {
  title: String;
  crumbs?: Breadcrumbs;
  heading?: String;
  metadata?: PageMetadata;
}

import "../styles/bootstrap.scss";

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Metadata from "../components/Metadata.astro";

const { title, crumbs, heading, metadata } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    {/* Keep the site out of Bing's Chatbot */}
    <meta name="robots" content="noarchive" />

    {
      metadata && (
        <Metadata {...metadata}>
          <slot name="metadata" slot="metadata" />
        </Metadata>
      )
    }
    <link rel="icon" type="image/png" href="/images/favicon.png" media="(prefers-color-scheme: light"/>
    <link rel="icon" type="image/png" href="/images/favicon-dark.png" media="(prefers-color-scheme: dark)" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <slot name="head" />
  </head>

  <body>
    <Header {title} {crumbs} />
    <main id="main-content">
      <slot name="header">
        <div slot="header" class="bg-primary" style="height: 8rem;">
          <div
            class="bg-primary-alpha-6 h-100 d-flex align-items-end"
            style="--bs-bg-opacity: 0.75"
          >
            <div class="container">
              <h1
                class:list={["display-3 text-white mb-1 w-100"]}
                set:text={heading || title}
              />
            </div>
          </div>
        </div>
      </slot>
      <slot />
    </main>
    <Footer />
  </body>

  <script src="../scripts/headings.js"></script>
  <script src="../scripts/body-no-scroll.js"></script>
  {
    import.meta.env.PROD && (
      <script
        is:inline
        defer
        data-domain="accessiblecommunity.org"
        src="https://plausible.io/js/script.js"
      />
    )
  }
</html>
