---
interface Props {
  title: String;
}

const { title } = Astro.props;

import '../styles/bootstrap.scss';

import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Section from '../components/Section.astro';
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content={Astro.generator} />
  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <title>{title} | Accessible Community</title>
</head>


<body>
  <Header />
  <main id="main-content">
    <slot name="header">
      <Section theme="ac">
        <h1 class="display-3 fw-bold text-center text-white">{ title }</h1>
      </Section>
    </slot>
    <slot />
  </main>
  <Footer />
</body>
</html>