---
interface Crumbs {
  name: String;
  href: URL;
}

interface Props {
  title: String;
  crumbs?: Array<Crumbs>;
  heading?: String;
}

import '../styles/bootstrap.scss';

import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const { title, crumbs, heading } = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Accessible Community is a 501(c)3 nonprofit that provides tools, resources and online communities to bring together accessibility experts, volunteers, businesses, organizational and community leaders, and individuals with disabilities to create a more inclusive world." />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content={Astro.generator} />
  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <title>{title} - Accessible Community</title>
</head>


<body>
  <Header title={title} crumbs={crumbs} />
  <main id="main-content">
    <slot name="header">
      <div slot="header" class="bg-primary" style="height: 8rem;">
        <div class="bg-primary-alpha-6 h-100 d-flex align-items-end" style="--bs-bg-opacity: 0.75">
          <div class="container">
            <h1
              class:list={["display-3 text-white mb-1 w-100"]}
              set:text={heading || title}
            />
          </div>
        </div>
      </div>
    </slot>
    <slot />
  </main>
  <Footer />
</body>

<script src="../scripts/headings.js"></script>

</html>