---
interface Props {
  title: String;
}

const { title } = Astro.props;

import '@fontsource-variable/archivo';
import '../styles/bootstrap.scss';

import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content={Astro.generator} />
  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <title>{title} | Accessible Community</title>
  <script>
    import "../scripts/dark-mode.js";
  </script>
</head>


<body>
  <Header>
    <slot name="header">
      <h2>{ title }</h2>
    </slot>
  </Header>
  <main id="main-content">
    </slot>
    <slot />
  </main>
  <Footer />
</body>
</html>