---
import Header from "../components/Header.astro";

import Footer from "../components/Footer.astro";
const {title, author, date } = Astro.props;
---

<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {title} </title>
    </head>
    <body>
        <!-- heading section -->
        <header>
            <slot />
        </header>
        <!-- heading section ends here -->
        <!--main -->
        <main>
            <!-- sidebar -->
           <article>
             <!-- title of the blog -->

             <!-- author and date -->

             <!-- blog contents -->

           </article>
        </main>
        <!-- main section ends here -->
        <!-- footer section -->
        <footer>
            <slot />
        </footer>
        <!-- footer secton ends here -->
        </div>
    </body>
</html>