---
import ImageHeading from "../components/ImageHeading.astro";
import Layout from "../layouts/Layout.astro";
import ThemedSection from "../components/ThemedSection.astro";
import type { PageMetadata } from "@lib/types";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const metadata: PageMetadata = {
  title,
  description,
};
---

<Layout {title} {metadata}>
  <ImageHeading image="policy" slot="header">
    <slot name="heading">
      {title}
    </slot>
  </ImageHeading>
  <ThemedSection style="secondary">
      <div class="d-print-none">
    <button 
      class="btn general-button btn-info" 
      onclick="window.print()"
    >
      Print this page
    </button>
  </div>
    <slot />
  </ThemedSection>
</Layout>
