---
import Layout from '../layouts/Layout.astro';
import Quote from '../components/Quote.astro';
import Section from '../components/Section.astro';
import { Image } from 'astro:assets';

import missionImage from '../images/mission.png';
// https://thenounproject.com/photo/business-partners-discussing-work-arranging-business-papers-and-charts-on-floor-bYWo15/
import partnerImage from '../images/business-partners-on-floor.jpg';
---

<Layout title="About">
  <Section theme="body-tertiary" slot="header">
    <div class="row flex-lg-row-reverse align-items-center justify-content-center gy-4 p-4">
      <div class="col-10 col-sm-8 col-lg-6 col-xl-5 col-xxl-4">
        <Image src={missionImage} alt="Image depicting Accessible Community's vision. Four circles connected with our logo. Contained in the circles are People with Disabilities, Local Organizations, Community Leaders, and Accessibility Experts." class="img-fluid" width="400" height="400" loading="lazy" />
      </div>
      <div class="col-lg-6 col-xl-7 col-xxl-6">
        <h1 class="visually-hidden">About Accessible Community</h1>
        <p class="display-5 text-body-emphasis mb-3">
          Establishing and nurturing <br/>
          <strong>disability-inclusive communities</strong>
          through ethical and humane technology.
        </p>
        <p class="lead">
          Accessible Community is a 501(c)3 nonprofit that provides tools, resources and an online community to bring together accessibility experts, volunteers, businesses, organizational and community leaders, and individuals with disabilities to create a more inclusive world.
        </p>
      </div>
    </div>
  </Section>

  <Section theme="ac">
    <div class="container d-flex flex-column flex-lg-row gap-5 py-3 justify-content-lg-evenly">
      <div class="text-white col col-lg-5 col-xl-4 col-xxl-4">
        <h2 class="display-4 text-white fw-bold pb-4">Our mission.</h2>
        <p>
          <span class="text-brand">Accessible <strong>Community</strong></span> helps:
        </p>
        <ul>
          <li>small-to-medium size organizations become accessible,</li>
          <li>people with disabilities find accessible and disability support organizations,</li>
          <li>emerging accessibility professionals grow their experience and connections, and</li>
          <li>senior accessibility experts and organization leaders to collaborate and share.</li>
        </ul>
      </div>
      <div class="text-white col col-lg-7 col-xl-6 col-xxl-5">
        <h2 class="display-4 text-white fw-bold pb-4">Our goals.</h2>
        <p>
          <span class="text-brand">Accessible <strong>Community</strong></span> provides online tools and programs to:
        </p>
        <ul>
          <li>Help smaller organizations with limited resources engage and support people with disabilities.</li>
          <li>Empower people with disabilities to be part of the conversation about accessibility in their communities.</li>
          <li>Motivate organizations by making accessibility visible and providing a marketing advantage for being disability-friendly.</li>
          <li>Mature the accessibility profession by increasing communication, education and efficiency.</li>
        </ul>
      </div>
    </div>
  </Section>

  <Section theme="bg-light">
    <h2 class="display-4 fw-bold">What we believe...</h2>
    <p class="lead">One in every three households includes someone who has a disability. These individuals and families often struggle to find places in their community where they can successfully shop, eat, and participate in community life.</p>
    <ul class="lead">
      <li><strong>Communities matter</strong>. Being a part of a local community is important.</li>
      <li>Local communities are made up of <strong>people</strong> and <strong>small organizations</strong>.</li>
      <li>A majority of small organizations do not have the knowledge or resources to effectively reach people with disabilities.</li>
      <li>People with disabilities want to be a part of their community and part of the solution in removing barriers to that community.</li>
      <li>We can <strong>incentivize</strong> those people and organizations we partner with by creating scenarios where <strong>all parties win</strong>.</li>
    </ul>
  </Section>

  <Section theme="body-tertiary" shadow={true}>
    <div class="row gap-4">
      <h2 class="col display-4 text-center py-4"><strong>Communities</strong> are <strong>people</strong>.</h2>
    </div>
    <div class="d-flex flex-column flex-lg-row gap-3 justify-content-lg-evenly">
      <Quote q="loneliness" class="col col-lg-3 col-xl-3" />
      <div class="text-ac col col-lg-8 col-xl-7">
        <p class="lead">
          <a class="text-ac fw-medium" href="https://www.cdc.gov/ncbddd/disabilityandhealth/infographic-disability-impacts-all.html" target="_blank">
          <strong>27% of adults</strong> in the United States</a> have at least <strong>one type of disability</strong>.
          These individuals and families <strong>may struggle</strong>
          to find places in their community where they can successfully <strong>shop, eat, and participate in community
          life</strong>. When they are successful, they will often recommend those places to their local social
          circle, especially to those who face similiar challenges.
        </p>
        <p class="lead">
          <strong>People with disabilities</strong> want to be included in the discussions about how to make an environment
          more inclusive. "<strong>Nothing about us without us</strong>" has become a rallying cry for their
          desire to be involved.
        </p>
      </div>
    </div>
  </Section>

  <Section theme="body-tertiary" shadow={true}>
    <div class="row gap-4">
      <h2 class="col display-4 text-center py-3"><strong>Communities</strong> are made up of <strong class="text-nowrap">small organizations</strong>.</h2>
    </div>
    <div class="d-flex flex-column flex-lg-row gap-4 justify-content-lg-center align-items-center">
      <div class="col col-lg-6 col-xl-6 col-xxl-5">
        <p class="text-start">
          Over 
          <a class="text-body-emphasis fw-bold" href="https://advocacy.sba.gov/wp-content/uploads/2021/08/Small-Business-Economic-Profile-US.pdf" target="_blank">
          <strong>98%</strong> of the <strong>32.5 million</strong> small businesses</a>
          in America have less than 20 employees. These small businesses, along with non-profits, religious congregations, and other
          community organizations make up a large portion of the world we live in.
        </p>
        <p class="text-start mb-0">
          Yet, few of these organizations can afford to hire accessibility expertise. As a result, these organizations
          often fail to serve the 
          <a class="text-body-emphasis fw-bold" href="https://adata.org/factsheet/understanding-disability-statistics" target="_blank">
          <strong>56.7 million</strong> Americans with disabilities</a>.
          This gap discriminates against individuals with diverse abilities and undermines these organizations, who
          miss out on the over
          <a class="text-body-emphasis fw-bold" href="https://www.dol.gov/agencies/odep/publications/fact-sheets/diverse-perspectives-people-with-disabilities-fulfilling-your-business-goals#:~:text=Organizations%20such%20as%20the%20National,also%20a%20significant%20market%20segment" target="_blank">
          <strong>$200 billion</strong> of discretionary spending</a> they possess.
        </p>
      </div>
      <div class="col col-lg-6 col-xl-6 col-xxl-5">
        <Image class="rounded img-fluid" src={partnerImage} alt="Business partners discussing work arranging business papers and charts on floor" loading="lazy" format='avif' />
      </div>
    </div>
    <p class="caption small text-center py-2">
      Business partners discussing work arranging business papers and charts on floor by Jacob Lund Photography from <a href="https://thenounproject.com/photo/business-partners-discussing-work-arranging-business-papers-and-charts-on-floor-bYWo15/" target="_blank" title="Business partners discussing work arranging business papers and charts on floor Photo">Noun Project</a> (CC BY-NC-ND 2.0)
    </p>
  </Section>

</Layout>

<style lang="scss">

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.img-orgs {
  max-width: 100%;
  height: auto;
  margin-bottom: 0.5em;
}

.caption.small {
  font-size: 0.7em;
}

img.profile-pic {
  display: inline-block;
  max-width: 3em;
}
div.fs-6 {
  line-height: 0.9em;
}

@include media-breakpoint-up(lg) {
  .img-orgs {
    max-width: 28rem;
    margin-left: 1.25em;
    margin-bottom: 0;
  }
}
@include media-breakpoint-up(xl) {
  .img-orgs {
    max-width: 35rem;
  }
}
</style>