---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
---

<Layout title="Accessibility Statement">
 <Section theme="body-tertiary">
 </Section>
</Layout>