---
import PolicyLayout from "../layouts/PolicyLayout.astro";

const title = "Code of Conduct";
const description = "The code of conduct for our staff and volunteers.";
---

<PolicyLayout {title} {description}>
  <Fragment slot="heading">
    Code of <strong>Conduct</strong>
  </Fragment>
  <p>Date Last Updated: <time datetime="2023-05-05">5 May 2023</time></p>
  <h2>Purpose</h2>
  <p>
    Accessible Community is led and staffed by volunteers. Succeeding at our
    mission to establish and nurture disability-inclusive communities depends on
    our staff's time, knowledge, dedication, and diversity. As such, we are all
    committed to creating a welcoming environment where discrimination and
    harassment are not tolerated and individual rights are protected.
  </p>
  <p>
    The purpose of this code of conduct is to set clear expectations of behavior
    between staff in Accessible Community in order to create a positive
    experience for all participants. This code applies to all leadership, staff,
    board of directors, and interns.
  </p>
  <p>
    This code refers to several more detailed policies but key points are
    included here to promote adoption and understanding.
  </p>
  <h2>Principles</h2>
  <h3>Support the Mission</h3>
  <p>
    I believe in and support Accessible Community's mission to establish and
    nurture disability-inclusive communities by helping:
  </p>
  <ul>
    <li>small-to-medium size organizations become accessible,</li>
    <li>
      people with disabilities find accessible and disability-support
      organizations,
    </li>
    <li>
      emerging accessibility professionals grow their experience and
      connections, and
    </li>
    <li>
      senior accessibility experts and organization leaders to collaborate and
      share ideas.
    </li>
  </ul>
  <h3>Mutual Respect and Caring</h3>
  <ul>
    <li>
      I will respect each individual's unique experiences, needs, and
      perspective.
    </li>
    <li>
      I will do my best to be transparent and honest; to communicate my needs
      and keep the best interest of others in mind.
    </li>
    <li>I will try to treat others as I wish to be treated.</li>
  </ul>
  <h3>Value Diversity</h3>
  <p>
    Our staff and participants come from all over the world. As a community, we
    embody different languages, cultures, religions, races, genders and gender
    identities, disabilities, backgrounds and experiences. I have read and agree
    to follow the <a href="/non-discrimination-policy"
      >Non-Discrimination Policy</a
    >.
  </p>
  <ul>
    <li>I will respect the diverse nature of our community.</li>
    <li>
      I will support an environment that is free of discrimination and
      harassment for leadership, staff, board of directors, and interns.
    </li>
    <li>
      I will strive to value our community's diversity as it improves the
      quality of our products and expands our impact.
    </li>
    <li>I will approach differences with kindness and curiosity.</li>
  </ul>
  <h3>Foster Safe Environment</h3>
  <p>
    I have read and agree to follow the <a href="/harrassment-policy"
      >Harassment Policy</a
    >. All leadership, staff, and program participants are responsible for
    fostering a safe environment, free of harassment. No one should be afraid
    for their physical or mental health while volunteering at Accessible
    Community. I agree that:
  </p>
  <ul>
    <li>
      I will strive to foster a safe working environment where everyone is
      accepted and allowed to be themselves.
    </li>
    <li>
      I understand that a safe working environment is not free of criticism or
      conflict, but I will handle criticism and conflict with respect.
    </li>
    <li>I will strive to set an example of appropriate behavior.</li>
    <li>
      I will report situations of harassment immediately on becoming aware of
      them, whether or not there has been a complaint.
    </li>
  </ul>
  <h3>Assumption of Best Intent</h3>
  <ul>
    <li>
      I will start with the assumption that everyone involved in this program
      has my best interest and the needs of the disability community at heart.
    </li>
    <li>
      When misunderstandings or conflicts occur that do not involve harassment,
      discrimination or other unsafe situations:
      <ul>
        <li>
          I will seek to talk about misunderstandings or conflicts when they
          arise with the people involved.
        </li>
        <li>
          I will seek outside opinions only after I have tried to resolve the
          problem with those involved.
        </li>
      </ul>
    </li>
  </ul>
  <h3>Confidentiality and Friendly Professionalism</h3>
  <p>
    Accessible Community strives to create a respectful space where people can
    converse without fear of it being shared outside the community of
    volunteers.
  </p>
  <ul>
    <li>
      I will be kind and friendly, while setting and respecting personal and
      professional boundaries and behaviors.
    </li>
    <li>
      I will respect the confidentiality of conversations and personal
      information.
    </li>
    <li>
      I will ask for permission when I want to share any information more
      widely.
    </li>
    <li>
      I will not make statements for Accessible Community unless it is part of
      my volunteer work.
    </li>
  </ul>
  <h3>Respect for Intellectual Property</h3>
  <ul>
    <li>I will respect the intellectual property of others.</li>
    <li>
      I will make reasonable efforts to protect the intellectual property of all
      participants and Accessible Community.
    </li>
    <li>
      If I wish to use the materials from Accessible Community that are not
      under creative commons license, I will contact
      director@accessiblecommunity.org to request permission.
    </li>
    <li>
      If I wish to use the materials from other individuals or organizations, I
      will research the copyright, request permission from that individual or
      organization when appropriate, and cite the work appropriately.
    </li>
    <li>I will ask when I am unsure about intellectual property.</li>
  </ul>
  <h3>Use Technology Responsibly</h3>
  <p>
    I have read through and agree to follow the <a href="/technology-policy"
      >Technology Policy</a
    >. I agree that:
  </p>
  <ul>
    <li>I am responsible for my account.</li>
    <li>
      I will not share my personal USER ID and/or password with another person.
    </li>
    <li>I will log off when I'm not using my account(s).</li>
    <li>
      I am responsible for all information accessed and all changes made using
      my personal USER ID.
    </li>
    <li>
      I will safeguard personally identifiable information in this system.
    </li>
    <li>
      I will not disclose passwords and other administrative information for any
      shared administrative accounts to which I am granted access.
    </li>
    <li>
      I will not use any non-public data or technology provided by Accessibility
      Community for any purpose other than for the business processes of
      Accessible Community.
    </li>
    <li>
      I will not access, damage, alter, transfer, disrupt or facilitate the
      disruption of or copy any data, software or any other part of Accessible
      Community's systems.
    </li>
  </ul>
  <h3>Reporting and Outreach for Assistance</h3>
  <ul>
    <li>
      I will reach out to the Executive Director at
      director@accessiblecommunity.org if I encounter difficulties.
    </li>
    <li>
      If my difficulties are with the Executive Director, I can reach out to the
      chair of the board of directors at board@accessiblecommunity.org.
    </li>
  </ul>
</PolicyLayout>
