---
import { Icon } from 'astro-icon'

import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ShadowBoxSection from '../components/ShadowBoxSection.astro';
import ThemedSection from '../components/ThemedSection.astro';

import heroBg from '../images/hands-blue-1920x1080.png'

const directorEmail = 'mailto:director@accessiblecommunity.org'
const paypalUrl = 'https://paypal.me/AccessibleCommunity';
const stripeUrl = 'https://donate.stripe.com/eVadR0agM8ec1TW5kk';

const heroButtons = [{
  name: 'Paypal',
  icon: 'cib:paypal',
  href: paypalUrl,
  className: 'cib-paypal',
}, {
  name: 'Stripe',
  icon: 'cib:stripe',
  href: stripeUrl,
  className: 'cib-stripe',
}]

const donationLinks = [{
  icon: 'cib:cc-paypal',
  href: paypalUrl,
  title: 'Donate via Paypal',
  theme: 'paypal',
}, {
  icon: 'cib:cc-stripe',
  href: stripeUrl,
  title: 'Donate via Stripe',
  theme: 'stripe',
}, {
  icon: 'envelope-at',
  href: directorEmail,
  title: 'Email the Director',
  theme: 'primary',
}]

const title = 'Donate';
const heading = title;

const crumbs = [{
  name: 'Home', href: '/',
}];
---
<Layout title={title} crumb={crumbs} heading={heading}>
  <Hero image={ heroBg } slot="header">
    <div slot="heading" class="mb-4">
      <h1 class="visually-hidden">Donate</h1>
      <span class="display-2 fw-bold text-white">Together we can do so much.</span>
    </div>
    <p class="lead mb-4">
      <span class="text-brand">Accessible <strong>Community</strong></span> is a 501(c)3 organization.
      Your donation goes towards supporting our programs, accommodations and technology costs.
    </p>
    <div class="d-grid gap-4 d-sm-flex justify-content-sm-center">
      { heroButtons.map(({icon, href, name, className}) =>
        <a class="btn btn-primary border-light d-flex justify-content-center align-items-center px-4 gap-1 hero-button" href={ href } target="_blank">
          <span class={ className }>Donate with</span>
          <Icon class="bi" alt={ name } name={ icon } />
        </a>
      )}
    </div>
  </Hero>

  <ThemedSection style="tertiary">
    <div class="row justify-content-center">
      <div class="col col-lg-10">
        <h2 class="display-3 mb-3">
          <Icon class="bi d-inline-block mb-1 me-1" name="ac-logo" style="height: 1em" alt="" />
          <span class="">Support our <strong>mission</strong>.</span>
        </h2>
        <div class="lead">
          <p>
            Your support of <span class="text-primary text-brand">Accessible <strong>Community</strong></span> provides programs, accommodations and technology to...
          </p>
          <ul>
            <li>Help smaller organizations with limited resources engage and support people with disabilities,</li>
            <li>Empower people with disabilities to be part of the conversation about accessibility in their communities,</li>
            <li>Motivate organizations by making accessibility visible and providing a marketing advantage for being disability-inclusive, and</li>
            <li>Mature the accessibility profession by increasing communication, education and efficiency.</li>
          </ul>
          <p>
            Contribute today and help make our communities more accessible. 
            <span class="fw-bold text-brand text-primary">Thank you for your support!</span>
          </p>
        </div>
      </div>
    </div>
  </ThemedSection>

  <ShadowBoxSection theme="info" style="secondary">
    <h2 class="display-3 text-center fw-bold my-3">How can I donate?</h2>
    <div class="row justify-content-center">
      <div class="col-md-5 col-lg-3 d-flex flex-column justify-content-start">
        <div>
          <p>We are currently registered to solicit donations in:</p>
          <ul>
            <li>Maryland</li>
            <li>Virginia</li>
          </ul>
        </div>
        <div class="d-none d-md-block mt-3 me-3">
          <strong>Note:</strong>
          If you would like to make a donation through corporate or government giving, by check, or some other means, please <a href={ directorEmail }>email our director</a> to discuss your donation.
        </div>
      </div>
      <div class="col-md-5 col-lg-3">
        <p>We can also accept donations from individuals who currently reside in:</p>
        <ul>
          <li>Delaware</li>
          <li>Idaho</li>
          <li>Indiana</li>
          <li>Iowa</li>
          <li>Montana</li>
          <li>Nebraska</li>
          <li>South Dakota</li>
          <li>Vermont</li>
          <li>Wyoming</li>
        </ul>
      </div>
      <div class="col-lg-3 col-xl-2">
        <div class="d-grid d-sm-flex flex-lg-column justify-content-sm-center gap-3 pb-3">
          { donationLinks.map(({icon, href, title, theme}) =>
            <a class:list={[`btn btn-sm btn-primary rounded-2 shadow-sm`]} href={ href } target="_blank">
              <Icon class="bi mx-auto" aria-hidden="true" name={ icon } />
              { title }
            </a>
          )}
        </div>
      </div>
    </div>
    <p class="d-md-none">
      <strong>Note:</strong>
      If you would like to make a donation through corporate or government giving, by check, or some other means, please <a href={ directorEmail }>email our director</a> to discuss your donation.
    </p>
  </ShadowBoxSection>
</Layout>

<style lang="scss">
  span.cib-paypal {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
  }

  [astro-icon="cib:paypal"] {
    height: 1.6em;
    filter: none;
  }

  [astro-icon="cib:stripe"] {
    height: 2.4em;
    filter: none;
  }

  .btn-sm .bi {
    height: 2.2rem;
    display: block;
    filter: none;
  }
</style>