---
import Layout from '../layouts/Layout.astro';
import ThemedSection from '../components/ThemedSection.astro';
---

<Layout title="Harrassment Policy">
 <ThemedSection style="secondary">
  <p>Accessible Community is committed to providing an environment that is free of discrimination and harassment. This policy outlines our commitment to protect our leaders, staff, board members and interns.  Each of us is responsible for treating harassment and reports of harassment seriously.</p>
  <p>This policy applies to every person in Accessible Community regardless of gender, sexual orientation, level, function, seniority, status or other characteristics. We are all obliged to comply with this policy.</p>
  <h2>Harassment</h2>
  <p>Harassment is any behavior which both:</p>
  <ol>
   <li>Causes another person distress, feelings of a lack of safety, or physical harm, and</li>
   <li>Is based on the victim's actual or perceived race/ethnicity, religion, age, gender, gender expression or identity, socioeconomic status, disability, sexual orientation, citizenship status, geography, place of origin, marital status, or familial status.</li>
  </ol>
  <p>Conduct that constitutes unlawful harassment on the basis of an individual's legally protected characteristics includes, but is not limited to:</p>
  <ul>
   <li>Epithets, slurs or negative stereotyping;</li>
   <li>Threatening, intimidating, or hostile acts based on an individual's membership in a protected class;</li>
   <li>Denigrating jokes, cartoons, or pictures based on legally protected characteristics, and;</li>
   <li>Display or circulation in the workplace of written or graphic material (including e-mail) that denigrates or shows hostility or aversion toward an individual or group based on a protected category.</li>
  </ul>
  <p>Harassment does not need to have malicious intent; the impacts on the person reporting the harassment will be addressed regardless of the intent.</p>
  <p>Displays of derogatory or offensive pictures, graffiti, or materials towards people because one of the identities listed above; demeaning remarks, jokes, innuendos about someone; or remarks about an identity group in the presence of any individual, not necessarily a member of the group mentioned, are also forms of harassment.</p>
  <h2>Sexual Harassment</h2>
  <p>Sexual harassment is defined as unwelcome sexual advances, requests for sexual favors, and other verbal or physical conduct of a sexual nature when:</p>
  <ul>
   <li>Submission to such conduct is made either explicitly or implicitly a term or condition of an individual's employment;</li>
   <li>Submission to or rejection of such conduct by an individual is used as a basis for employment decisions affecting such individual, and;</li>
  </ul>
  <p>Such conduct has the purpose or effect of unreasonably interfering with an individual's engagement or creating an intimidating, hostile, or offensive working environment.</p>
  <p>A person sexually harasses someone when they:</p>
  <ul>
   <li>Insinuate, propose or demand sexual favors of any kind.</li>
   <li>Invade another person's personal space (e.g. inappropriate touching.)</li>
   <li>Stalk, intimidate, coerce or threaten another person to get them to engage in sexual acts.</li>
   <li>Send or display sexually explicit objects or messages.</li>
   <li>Comment on someone's looks, dress, sexuality or gender in a derogatory or objectifying manner or a manner that makes them uncomfortable.</li>
   <li>Make obscene comments, jokes or gestures that humiliate or offend someone.</li>
   <li>Pursue or flirt with another person persistently without the other person's willing participation. Also, flirting with someone at an inappropriate time (e.g. in a team meeting) is considered sexual harassment, even when these advances would have been welcome in a different setting. This is because such actions can harm a person's professional reputation and expose them to further harassment.</li>
  </ul>
  <p>Sexual harassment has many forms of variable seriousness. The most extreme form of sexual harassment is sexual assault. This is a serious crime and our organization will support employees who want to press charges against offenders.</p>
  <p>Sexual harassment is not consensual banter or romantic peer relationships, where the people involved consent to the interaction. Constructive feedback and critique is not harassment.</p>
  <h2>Responsibilities of Staff and Board Members</h2>
  <p>All leadership, staff, interns, and program participants are responsible for fostering a safe environment, free of harassment.</p>
  <ul>
   <li>A safe working environment is one where everyone is accepted and allowed to be themselves.</li>
   <li>No one should be afraid for their physical or mental health in a safe working environment.</li>
   <li>A safe working environment is not free of all criticism or conflict, but those things are handled with respect.</li>
   <li>Everyone must set an example of appropriate behavior and must report situations of harassment immediately on becoming aware of them, whether or not there has been a complaint. Staff and Board Members, who do nothing to prevent or stop harassment or to mitigate its effects may find themselves facing consequences.</li>
  </ul>
  <p>Everyone is responsible for treating each other with respect and refraining from discrimination and harassment.  Everyone is also responsible for treating harassment as a serious issue and taking anyone's experience of it seriously.</p>
  <p>Everyone is also  encouraged to report harassment to the appropriate person if they or someone else is being harassed.</p>
  <h2>Reporting</h2>
  <p>Anyone who experiences, witnesses, or becomes aware of an incident of sexual or other unlawful harassment should promptly bring it to the attention of the Executive Director at <a href="mailto:director@accessiblecommunity.org">director@accessiblecommunity.org</a>.</p>
  <p>If, for any reason, they do not wish to report my concern to the Executive Director, they can reach out to the chair of the board of directors at board@accessiblecommunity.org.</p>
  <p>Staff can raise concerns and make reports without fear of reprisal or retaliation.</p>
  <p>Similarly, any member of staff who becomes aware of possible sexual or other unlawful harassment of anyone associated with Accessible Community should promptly advise the executive director who will ensure that the matter is investigated and resolved in a timely and effective manner.</p>
  <h2>Response</h2>
  <p>Management will make a prompt, thorough, and impartial investigation of all allegations of sexual or other harassment. If the results indicate that a staff member, intern, leader, or board member has engaged in sexual or other harassment or retaliation, he or she will be given a warning or the volunteer opportunity will be revoked depending on the results of the investigation.</p>
  <p>If the results indicate that a program participant has engaged in sexual or other harassment or retaliation, he or she will be given a warning or the ability to participate in our programs in the future will be revoked.</p>
  <p>Subject to our need to thoroughly investigate claims of sexual or other harassment, such claims will remain as confidential as possible. Everyone involved should act responsibly and truthfully in making allegations, responding to allegations, and providing information in an investigation. Leadership will not retaliate against staff for exercising their right to report harassment or for assisting in an investigation of a harassment allegation.</p>
 </ThemedSection>
</Layout>