---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Accessible Community">
  <span slot="header" />
  <p>
    One in every three households includes someone who has a disability. These individuals and families often struggle to find places in their community where they can successfully shop, eat, and participate in community life. Meanwhile, organizations who want to reach the disability community often struggle with what to do to improve and how to reach out when they offer accommodations.
  </p>
  <p>
    Accessible Community provides online tools and programs to:
    <ul>
      <li>Help smaller organizations with limited resources engage and support people with disabilities</li>
      <li>Empower people with disabilities to be part of the conversation about accessibility in their communities</li>
      <li>Motivate organizations by making accessibility visible and providing a marketing advantage for being disability-friendly</li>
      <li>Mature the accessibility profession by increasing communication, education and efficiency</li>
    </ul>
    </p>
</Layout>