---
import ImageHeading from '../components/ImageHeading.astro';
import Layout from '../layouts/Layout.astro';
import ThemedSection from '../components/ThemedSection.astro';
import PolicyLayout from '../layouts/PolicyLayout.astro';
---
  
<PolicyLayout title="Non-Discrimination Policy">
  <p>Accessible Community is committed to providing an environment that is free of discrimination and harassment for leadership, staff, board of directors, and interns.</p>
  <p>Discrimination is based on race, color, religion, sex, pregnancy, sexual orientation, gender identity, national origin, physical or cognitive disability, age, genetic information, or veteran status. Discrimination is unethical and illegal and will not be tolerated.</p>
  <h2>Equal Opportunity</h2>
  <p>Accessible Community is an equal opportunity organization. All applicants will be considered without attention to race, color, religion, sex, pregnancy, sexual orientation, gender identity, national origin, physical or cognitive disability, age, genetic information, or veteran status.</p>
  <h2>Accommodations</h2>
  <p>Accessible Community is dedicated to supporting the disability community. As such it strives to select and create accessible products and policies whenever possible.  It also strives to provide accommodations such as sign language interpreting, audio descriptions, captioning and other services.  If an accommodation is not provided by default, please contact the Executive Director at <a href="mailto:director@accessiblecommunity.org">director@accessiblecommunity.org</a> or the project manager for the relevant program.</p>
  <h2>Reporting</h2>
  <p>Any leader, board member, staff, intern or client who believes that they or any other affiliate of Accessible Community has been discriminated against is strongly encouraged to report this concern promptly to the Executive Director at director@accessiblecommunity.org.</p>
  <p>If reporting to the Executive Director is not possible or appropriate, they can reach out to the chair of the board of directors at board@accessiblecommunity.org.</p>
</PolicyLayout>