---
import PolicyLayout from "../layouts/PolicyLayout.astro";

import "../styles/print.scss";

const title = "Privacy Policy";
const description = "The privacy policy for our users, staff and volunteers.";
---

<PolicyLayout {title} {description}>
  <p>Last updated: <time datetime="2024-01-15">15 January 2023</time></p>
  <h2 class="privacy-policy-heading">Plain Language Summary</h2>
  <p>
    This summary covers the key points but is not the legally binding agreement.
    All content after this summary is the legal privacy policy.
  </p>
  <ul>
    <li>
      Accessible Community provides 4 sites:
      <ul>
        <li>accessiblecommunity.org</li>
        <li>ta11y.org</li>
        <li>mutua11y.org</li>
        <li>loca11y.org</li>
      </ul>
    </li>
    <li>
      When you use these sites and services, we may collect information that you
      provide us such as:
      <ul>
        <li>name</li>
        <li>contact information</li>
        <li>disability-related information</li>
      </ul>
    </li>
    <li>
      We may install cookies to improve services and collect information on how
      you use our sites
    </li>
    <li>
      We will use the information we collect to:
      <ul>
        <li>Provide you the services you request</li>
        <li>Improve our services</li>
        <li>Contact you to let you know about services</li>
      </ul>
    </li>
    <li>We will not sell or share your personal information</li>
    <li>
      We only keep your personal information while you have an account with us
    </li>
    <li>
      We will take all reasonable actions to protect your personal information
    </li>
    <li>
      Email <a href="mailto:accounts@accessiblecommunity.org"
        >accounts@accessiblecommunity.org</a
      > to:
      <ul>
        <li>Review, change, or close your account at any time by contacting</li>
        <li>Ask questions about your account or data privacy</li>
        <li>Request we delete your data</li>
      </ul>
    </li>
  </ul>
  <h2 class="privacy-policy-heading">Introduction</h2>
  <p>
    This privacy policy for Accessible Community ("us", "we", or "our")
    describes how and why we might collect, store and/or share your information
    when you use our services (“Services”). These services include visiting and
    using our web content and services (“Sites”) at:
  </p>
  <ul>
    <li>accessiblecommunity.org</li>
    <li>ta11y.org</li>
    <li>mutua11y.org,</li>
    <li>loca11y.org</li>
  </ul>
  <p>
    We use your Personal Information only for providing and improving Accessible
    Community's sites, tools and services. By using the Sites, you agree to the
    collection and use of information in accordance with this policy.
  </p>
  <h2 class="privacy-policy-heading">How do we collect information?</h2>
  <p>
    We collect information that you provide to us when you register for our
    services, use our sites or otherwise contact us.
  </p>
  <p>
    The categories of information we will be collecting in the next 12 months
    are:
  </p>
  <ul>
    <li>
      <span class="fw-bold">Identifiers</span> such as account name, email, and IP
      address
    </li>
    <li>
      <span class="fw-bold">Personal Information</span> such as name and disability-related
      information
    </li>
    <li>
      <span class="fw-bold">Geolocation data</span> such as device location
    </li>
    <li>
      <span class="fw-bold">Audio and visual information</span> such as images and
      audio in connection with our business activities
    </li>
  </ul>
  <h3 class="privacy-policy-heading">User Provided Information</h3>
  <p>
    While using our Sites, we may ask you to provide us with certain personal
    information that can be used to contact or identify you. Personally
    identifiable information may include, but is not limited to your name and
    email address ("Personal Information"). We may also as you to provide us
    with sensitive information about your disability status (“Sensitive
    Information”).
  </p>
  <h3 class="privacy-policy-heading">Log Data</h3>
  <p>
    Like many site operators, we collect information that your browser sends
    whenever you visit, use, or navigate our Sites and Services ("Log Data").
  </p>
  <p>
    This Log Data may include device and usage information such as your
    computer's Internet Protocol ("IP") address, browser type, browser version,
    the pages of our Site that you visit, the time and date of your visit, the
    time spent on those pages, your location and other statistics.
  </p>
  <p>
    This information is primarily needed to maintain the security and operation
    of our services, for internal analytics and reporting purposes. We may
    collect this information through cookies and similar technologies.
  </p>
  <h3 class="privacy-policy-heading">Cookies</h3>
  <p>
    Cookies are files with small amounts of data, which may include an anonymous
    unique identifier. Cookies are sent to your browser from a web site and
    stored on your computer's hard drive.
  </p>
  <p>
    Like many sites, we use "cookies" to collect information. You can instruct
    your browser to refuse all cookies or to indicate when a cookie is being
    sent. However, if you do not accept cookies, you may not be able to use some
    portions of our Site. You can learn more about this in our Cookie Policy at <a
      href="/about/policies">https://accessiblecommunity.org/about/policies</a
    >.
  </p>
  <h3 class="privacy-policy-heading">Social Media Data</h3>
  <p>
    We may provide you with the option to register with us using an existing
    social media or email account. If you choose to register in this way, we may
    have access to information from the social media provider such as your name,
    email, friends list, profile image, etc. We do not control and are not
    responsible for information with your third-party social media provider. We
    will store only the information needed to provide the services.
  </p>
  <h2 class="privacy-policy-heading">How do we use your information?</h2>
  <p>
    We use your Personal Information and Sensitive Information for providing and
    improving Accessible Community's Sites and Services, such as:
  </p>
  <ul>
    <li>
      Facilitate account creating, authentication and managing user accounts.
    </li>
    <li>Deliver services to the user.</li>
    <li>Respond to user inquiries and offer support to the users.</li>
    <li>
      Save and protect an individual's vital interest such as to prevent harm.
    </li>
  </ul>
  <p>
    <span class="fw-bold"
      >We do not share your Personal Information or Sensitive Information.</span
    >
  </p>
  <h3 class="privacy-policy-heading">Communications</h3>
  <p>
    We may use your Personal Information to periodically contact you with
    newsletters and other information to keep you up to date about our
    activities and request your assistance. You may opt out of these
    communications.
  </p>
  <h3 class="privacy-policy-heading">Data Retention</h3>
  <p>
    We only keep your Personal and Sensitive Information for as long as it is
    necessary to provide Services to you. We will not keep your information
    longer than the time you have an account with us.
  </p>
  <p>
    You have a right to request the deletion of your personal data by emailing <a
      href="mailto:accounts@accessiblecommunity.org"
      >accounts@accessiblecommunity.org</a
    > .
  </p>
  <h2 class="privacy-policy-heading">Is your information secure?</h2>
  <p>
    The security of your Personal Information is important to us, but remember
    that no method of transmission over the Internet, or method of electronic
    storage, is 100% secure. While we strive to use commercially acceptable
    means to protect your Personal Information, we cannot guarantee its absolute
    security.
  </p>
  <h3 class="privacy-policy-heading">Third-Party Websites</h3>
  <p>
    We are not responsible for the safety of any information you share with
    third parties that we may link to but who are not affiliated with our Sites
    or Services.
  </p>
  <h3 class="privacy-policy-heading">Data Transferred Internationally</h3>
  <p>
    Our servers are located in the United States. If you are accessing our Sites
    or Services outside the United States, your information may be transferred
    to, stored, and used by us in the United States.
  </p>
  <h2 class="privacy-policy-heading">Do we collect information from minors?</h2>
  <p>
    We do not knowingly solicit data from children under 18 years of age. By
    using our Sites and Services, you agree that you are at least 18 years of
    age or you are the parents or guardian of a minor and give consent to the
    minor dependent's use of our Sites and Services.
  </p>
  <h2 class="privacy-policy-heading">
    What legal bases do we rely on when using your information?
  </h2>
  <h3 class="privacy-policy-heading">For Users in the EU or UK</h3>
  <p>
    The General Data Protection Regulation (GDPR) and UK GDPR require us to
    explain the legal bases we rely on to use your Personal and Sensitive
    Information.
  </p>
  <ul>
    <li>
      <span class="fw-bold">Consent</span>: We may use your personal and
      sensitive information if you have given us permission to use it for a
      specific purpose. You can withdraw your consent at any time by closing
      your account or emailing <a href="mailto:accounts@accessiblecommunity.org"
        >accounts@accessiblecommunity.org</a
      > and requesting your account be closed.
    </li>
    <li>
      <span class="fw-bold">Legal Obligations</span>: We may use your
      information to comply with legal obligations such as cooperation with law
      enforcement bodies or regulatory agencies.
    </li>
    <li>
      <span class="fw-bold">Vital Interests</span>: We may use our information
      if we believe it is necessary to protect the vital interests of you or a
      third party, such as situations involving potential threats to the safety
      of any person.
    </li>
  </ul>
  <h3 class="privacy-policy-heading">For Users in Canada</h3>
  <p>
    We may use your personal and sensitive information if you have given us
    specific permission (express consent) to use it for a specific purpose or in
    situations where your permission can be inferred (implied consent).
  </p>
  <p>
    You can withdraw your consent at any time by closing your account or
    emailing <a href="mailto:accounts@accessiblecommunity.org"
      >accounts@accessiblecommunity.org</a
    > and requesting your account be closed.
  </p>
  <p>
    In some exceptional cases, we may be legally permitted under applicable law
    to use your information without your consent, such as if disclosure is
    required to comply with a subpoena, warrant, court order, or rules of the
    court relating to the production of records.
  </p>
  <h2 class="privacy-policy-heading">
    How will we tell you about changes to this Privacy Policy?
  </h2>
  <p>
    This Privacy Policy is effective as of 15 January 2024 and will remain in
    effect except with respect to any changes in its provisions in the future,
    which will be in effect immediately after being posted on this page.
  </p>
  <p>
    We reserve the right to update or change our Privacy Policy at any time and
    you should check this Privacy Policy periodically. Your continued use of the
    Service after we post any modifications to the Privacy Policy on this page
    will constitute your acknowledgment of the modifications and your consent to
    abide and be bound by the modified Privacy Policy.
  </p>
  <p>
    If we make any material changes to this Privacy Policy, we will notify you
    either through the email address you have provided us, or by placing a
    prominent notice on our website.
  </p>
  <h2 class="privacy-policy-heading">Contact Us</h2>
  <p>
    If you have any questions about this Privacy Policy, please contact us at <a
      href="mailto:accounts@accessiblecommunity.org"
      >accounts@accessiblecommunity.org</a
    >.
  </p>
</PolicyLayout>

<style>
  .privacy-policy-heading {
    margin-top: 3rem;
  }
</style>
