---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';

const title = 'Privacy Policy';
const heading = title;
---

<Layout title={title} heading={heading}>
 <Section theme="body-tertiary">
 </Section>
</Layout>