---
import { Icon } from 'astro-icon';

import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro'

import heroBg from '../images/girl-using-laptop-blue-1920x1080.png'
// import heroBg from '../images/man-with-prosthetic-hand-typing.jpg'

const services = [{
  icon: 'ta11y-logo',
  name: 'ta11y',
  title: '<strong>t</strong>a11y.<strong>org</strong>',
  text: 'An online tool for learning about and evaluating the accessibility of social media, websites, facilities, events and procedures.',
  link: 'https://www.ta11y.org',
},{
  icon: 'mutua11y-logo',
  name: 'mutua11y',
  title: '<strong>mutu</strong>a11y.<strong>org</strong>',
  text: 'A platform for communities, local government, organizations and accessibility professionals to share information and ideas.',
  link: 'https://www.mutua11y.org',
},{
  icon: 'loca11y-logo',
  name: 'loca11y',
  title: '<strong>loc</strong>a11y.<strong>org</strong>',
  text: 'A tool for people with disabilities to find and recommend local organizations and events where they can successfully engage and participate.',
  // link: 'https://www.loca11y.org',
}]

---

<Layout title="Services">
  <span slot="header" />

  <Hero image={ heroBg }>
    <h2 class="display-3 text-white py-4" slot="heading">
      <span class="fw-bolder">Tools</span> and <span class="fw-bolder">services</span> for equity.
    </h2>
    <p class="lead">
      We create tools and services to <strong>teach accessibility</strong>
      and <strong>promote accessible organizations</strong>. We practice what we preach; the tools we develop
      are fully accessible, following the best practices, guidelines and standards to ensure
      usability, not just compliance. 
    </p>
  </Hero>
  <div class="bg-ac py-2">
    <div class="container text-white text-center">
    The <code class="text-white d-inline">a11y</code> in our tool names stands for accessibility
    (there are 11 letters between the 'a' and 'y').
    </div>
  </div>

  <Section theme="body-tertiary">
    <div class="row row-gap-4 row-cols-1 row-cols-lg-3">
      { services.map(({ icon, name, title, text, link }) =>
        <div class="feature col">
          <div class="d-flex align-items-center gap-2 mb-1">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-ac bg-gradient">
              <Icon class="bi" name={ icon } height="1.5em" />
              </div>
            <h3 class="my-1 fs-1 text-ac" set:html={ title }></h3>
          </div>
          <p class="ms-5 me-3">
            <span set:html={text} />
          </p>
          <div class="ms-5 me-3 d-flex flex-lg-column flex-xl-row justify-content-start">
            <a href={`#${name}`} class="icon-link text-ac text-nowrap me-4">
              Learn more
              <Icon name="bi:arrow-down-square" class="bi" height="1em"></Icon>
            </a>
            { link ?
              <div class="text-nowrap">
                Visit 
                <a href={link} class="icon-link text-ac" target="_blank">
                  <span set:html={title} />
                  <Icon name="bi:arrow-up-right-square" class="bi" height="1em"></Icon>
                </a>
              </div>
            :
              <div class="fw-bold flex-fill">Coming soon.</div>
            }
          </div>
        </div>
      )}
    </div>
    <div class="text-center">
    </div>
  </Section>

  <Section theme="body-tertiary">
    <h2 class="display-4 fw-bold">Why three different tools?</h2>
    <p aria-hidden="true">
      <span class="placeholder col-6"></span>
      <span class="placeholder col-7 me-1"></span>
      <span class="placeholder col-3"></span>
      <span class="placeholder col-4 me-1"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-8"></span>
      <span class="placeholder col-7"></span>
      <span class="placeholder col-5 me-1"></span>
      <span class="placeholder col-2"></span>
      <span class="placeholder col-9"></span>
      <span class="placeholder col-7"></span>
      <span class="placeholder col-4"></span>
    </p>
  </Section>

  <Section id="ta11y" theme="body-bg">
    <h2 class="fw-bold">About t<span class="fw-lighter">a11y</span>.org</h2>
    <p aria-hidden="true">
      <span class="placeholder col-6"></span>
      <span class="placeholder col-7 me-1"></span>
      <span class="placeholder col-3"></span>
      <span class="placeholder col-4 me-1"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-8"></span>
      <span class="placeholder col-7"></span>
      <span class="placeholder col-5 me-1"></span>
      <span class="placeholder col-2"></span>
      <span class="placeholder col-9"></span>
      <span class="placeholder col-7"></span>
      <span class="placeholder col-4"></span>
    </p>
  </Section>

  <Section id="mutua11y" theme="ac text-white">
    <h2 class="fw-bold text-white">About mutu<span class="fw-lighter">a11y</span>.org</h2>
    <p aria-hidden="true">
      <span class="placeholder col-6"></span>
      <span class="placeholder col-7 me-1"></span>
      <span class="placeholder col-3"></span>
      <span class="placeholder col-4 me-1"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-8"></span>
      <span class="placeholder col-7"></span>
      <span class="placeholder col-5 me-1"></span>
      <span class="placeholder col-2"></span>
      <span class="placeholder col-9"></span>
      <span class="placeholder col-7"></span>
      <span class="placeholder col-4"></span>
    </p>
  </Section>

  <Section id="loca11y" theme="body-secondary">
    <h2 class="fw-bold">About loc<span class="fw-lighter">a11y</span>.org</h2>
    <p aria-hidden="true">
      <span class="placeholder col-6"></span>
      <span class="placeholder col-7 me-1"></span>
      <span class="placeholder col-3"></span>
      <span class="placeholder col-4 me-1"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-8"></span>
      <span class="placeholder col-7"></span>
      <span class="placeholder col-5 me-1"></span>
      <span class="placeholder col-2"></span>
      <span class="placeholder col-9"></span>
      <span class="placeholder col-7"></span>
      <span class="placeholder col-4"></span>
    </p>
  </Section>
</Layout>

<style>
  .feature-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .75rem;
  }

  [astro-icon="loca11y-logo"] {
    margin-left: 0.2em;
  }
</style>
