---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Services">
<ul>
  <li><strong>t</strong>a11y</li>
  <li><strong>mutu</strong>a11y</li>
  <li><strong>loc</strong>a11y</li>
</ul>
</Layout>