---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
---

<Layout title="Technology Policy">
 <Section theme="body-tertiary">
  <p>Accessibility Community makes computing resources available to its volunteers. These resources are critical components of Accessibility Community's communication system and are intended to be used solely by Accessibility Community volunteers and used responsibly.</p>
  <p>The goal of Accessibility Community's technology policy is to protect Accessibility Community's volunteers, partners, and Accessibility Community from illegal or damaging actions by individuals, either knowingly or unknowingly.</p>
  <p>When you volunteer at Accessible Community, you agree to the following:</p>
  <ul>
   <li>I will not share my personal USER ID and/or password with another person.</li>
   <li>I am responsible for all information accessed, and all changes made using my personal USER ID, and for safeguarding personally identifiable information in this system.</li>
   <li>I will not disclose administrative information (including passwords) for any shared administrative accounts to which I am granted access</li>
   <li>I will log off when I'm not using my account(s).</li>
   <li>I will not use any non-public data or technology provided by Accessibility Community for any purpose other than for the business processes of Accessible Community.</li>
  </ul>
  <p>I understand that:</p>
  <ul>
   <li>I am responsible for my accounts.</li>
   <li>Accessible Community reserves the right to monitor all provided access and software. All information, including personal information created, sent, received, or maintained on any IT resources owned by Accessible Community may be examined, recorded, copied, monitored, audited, or otherwise used for authorized security purposes.</li>
   <li>Monitoring and audited activities may include, but not be limited to: document and code review, interception of interactions within Accessible Community's cloud-based resources, system/document access, modification and deletion.</li>
  </ul>
  <h2>Unauthorized Use</h2>
  <p>I will not access, damage, alter, transfer, disrupt or facilitate the disruption of or copy any data, software or any other part of Accessible Community's systems. Any form of testing or auditing which may impact Accessible Community systems in such a way must receive prior, documented authorization from a management party other than myself and be announced to any potentially impacted parties prior to any action.</p>
  <p>I may be subject to civil or criminal prosecution, or disciplinary action for unauthorized attempts to access, modify or misuse any IT or electronic resources owned by Accessible Community or the data collected therein. This includes unauthorized copying and/or reuse of Accessible Community intellectual property or any user data collected by or compiled on an Accessible Community resource. Disciplinary actions include, but are not limited to, having my access to Accessible Community resources revoked and having my volunteer opportunity terminated.</p>
 </Section>
</Layout>