---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import ThemedSection from "../components/ThemedSection.astro";

const crumbs = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "Join Us",
    href: "/join-us",
  },
];

import heroBg from "../images/colored-hero/hands-together.png";
---

<Layout title="Volunteer" crumbs={crumbs}>
  <Hero image={heroBg} slot="header" actionBreakpoint="md">
    <div slot="heading" class="mb-4">
      <h1 class="visually-hidden">Volunteer</h1>
      <blockquote class="display-2 text-white">
        <div>
          <sup aria-hidden="true"><Icon name="quote-left" height="0.5em" /></sup
          >&nbsp;<span class="small">Alone we can do so little;</span>
        </div>
        <div>
          <span class="fw-bold"
            >Together we can do so much.&nbsp;<sup aria-hidden="true"
              ><Icon name="quote-right" height="0.5em" /></sup
            >
          </span>
        </div>
      </blockquote>
      <div class="blockquote-footer text-end text-white me-5 display-6">
        <span class="display-7">Helen Keller</span>
      </div>
    </div>
    <p class="lead text-bg-hero">
      <span class="text-brand">Accessible <strong>Community</strong></span> is a
      volunteer-led and staffed 501(c)3 organization. We welcome any contributions
      to help make our communities more accessible and disability-inclusive.
    </p>
    <Fragment slot="action-bar">
      <a href="#teams" class="icon-link link-light hero-link">
        <Icon name="bi:people-fill" class="bi" alt="" aria-hidden="true" />
        Learn more about our teams
      </a>
      <a href="#form" class="icon-link link-light hero-link">
        <Icon name="bi:pencil-fill" class="bi" alt="" aria-hidden="true" />
        Fill out the volunteer form
      </a>
    </Fragment>
  </Hero>

  <ThemedSection id="teams" style="secondary">
    <h2 class="display-3">Volunteer <span class="fw-bold">Teams</span></h2>
    <div>
      <p>
        Thank you for wanting to learn about our volunteer opportunities at <span
          class="text-brand text-primary"
          >Accessible <strong>Community</strong></span
        >. We have different teams to choose from, and we have provided
        decriptions of each team to help you choose one (or more) to join.
        Everyone, including our staff, is a volunteer.
      </p>
      <p>
        All our teams meet virtually. This allows us to
        have an international team of volunteers.
      </p>
      <p>
        After you determine which team(s) you want to volunteer with, or if you
        think you could help in another way not listed, <a href="#form"
          >fill out our volunteer form</a
        >.
      </p>
    </div>
    <div class="row justify-content-center gap-5 py-4">
      <div class="col-lg-9">
        <div class="card mb-3 shadow team-card">
          <h3 class="display-5 card-header">Content Team</h3>
          <div class="card-body">
            <p class="card-text">
              <a
                href="https://www.ta11y.org/learning"
                target="_blank"
                rel="noopener noreferrer">Ta11y's learning content</a
              > team joins accessibility novices with experienced professionals to
              produce our accessibility guidance.
            </p>
            <ul>
              <li>Writers can grow their skills and expand their knowledge.</li>
              <li>Editors can help others improve their writing skills.</li>
              <li>Artists can support content with reinforcing images.</li>
              <li>Experts can review content and help others learn.</li>
            </ul>
            <p>
              We ask you to dedicate 3-5 hours a week, attend a weekly stand-up,
              and use Slack to stay connected between meetings. We use writing
              guides, templates, and a review process to ensure a final product
              you will be proud to include in your portfolio.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="card mb-3 shadow team-card">
          <h3 class="display-5 card-header">Development Team</h3>
          <div class="card-body">
            <p class="card-text">
              Web developers that work together to build our tools and websites.
              We welcome both experienced and inexperienced programmers who can dedicate
              at least 3-5 hours a week. Frontend development consists of React and
              Vue-based solutions with Bootstrap, while backend developers utilize
              Python, Django, FastAPI, SqlAlchemy and Postgres.
            </p>
            <p>
              Team communication occurs via Slack with stand-ups occurring on
              weekly basis. If you have some development skills and are willing
              to help build tools for people with disabilities, please reach
              out.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="card mb-3 shadow team-card">
          <h3 class="display-5 card-header">Evaluations Team</h3>
          <div class="card-body">
            <p class="card-text">
              The Evaluations Team tests the web site accessibility of small organizations
              that can't afford accessibility audits. This allows professionals who
              are learning about accessibility to practice and get feedback while
              helping smaller community organizations. We ask that participants review
              sites using ta11y for a few hours each week and attend a weekly meeting.
              <!-- TODO: Add back in once a web assessment form for orgs is present.
              If you are interesting in requesting assistance with
            your web site, please complete the web site assessment request [link to form we don't
            have]. -->
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="card mb-3 shadow team-card">
          <h3 class="display-5 card-header">Leadership Team</h3>
          <div class="card-body">
            <p class="card-text">
              Accessible Community's leadership team manages the services and products
              that Accessible Community provides. We welcome volunteers with an interest
              in project management, finance, and other leadership skills to apply
              for consideration in joining this team. Accessible Community strives
              to be a disability led organization - lived experience with disability
              is an important part of this area.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="card mb-3 shadow team-card">
          <h3 class="display-5 card-header">
            Social Media Team
          </h3>
          <div class="card-body">
            <p class="card-text">
              Description coming soon.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="card mb-3 shadow team-card">
          <h3 class="display-5 card-header">
            User Experience (<abbr>UX</abbr>) Team
          </h3>
          <div class="card-body">
            <p class="card-text">
              Accessible Community's User Experience (UX) team works collaboratively
              to create inclusive and user-friendly digital experiences for all.
              Grounded in the principles of human-centered design, the team conducts
              research to gain deep insights into user behaviors, preferences, and
              pain points. This research allows the team to design digital experiences
              that enables a diverse set of users to utilize Accessible Community's
              toolset.
            </p>
            <p class="card-text">
              Currently, we are not looking for additional UX team volunteers.
              If you are interested in participating in an upcoming user
              research activity, please reach out.
            </p>
          </div>
        </div>
      </div>
    </div>
  </ThemedSection>

  <ThemedSection id="form" style="tertiary">
    <h2 class="display-3 mb-4 text-info-emphasis">
      Volunteer <strong>Form</strong>
    </h2>
    <form id="volunteerFormEl" class="col p-4 border-info volunteer-form">
      <p class="lead">
        Thank you for your interest in volunteering with <span
          class="text-brand text-primary"
          >Accessible <strong>Community</strong></span
        >.
      </p>
      <p class="col-lg-9">
        We are a growing <strong class="text-primary"
          >international community</strong
        > of volunteers working together to improve our communities for people with
        disabilities.
      </p>
      <p class="col-lg-9">
        We are looking for individuals with passion and dedication who are
        willing to spend about 4&nbsp;hours a week volunteering their talents.
        To succeed, we need a wide variety of skills.
      </p>
      <p class="col-lg-9">
        If you are interested in volunteering your time and talents, then please
        complete the form below.
      </p>
      <p>
        Required fields have an asterisk (<span class="asterisk">*</span>).
      </p>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstNameField" class="form-label mb-1 required-field"
            >First Name</label
          ><span class="asterisk"></span>
          <input
            type="text"
            name="FirstName"
            class="form-control w-100 form-field"
            id="firstNameField"
            autocomplete="given-name"
            required
          />
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastNameField" class="form-label mb-1 required-field"
            >Last Name</label
          ><span class="asterisk"></span>
          <input
            type="text"
            name="LastName"
            class="form-control w-100 form-field"
            id="lastNameField"
            autocomplete="family-name"
            required
          />
        </div>
        <div class="col-md-6 mb-3">
          <label for="emailField" class="form-label mb-1 required-field"
            >Email Address</label
          ><span class="asterisk"></span>
          <input
            type="email"
            name="Email"
            class="form-control w-100 form-field"
            id="emailField"
            autocomplete="email"
            aria-describedby="emailHelp"
            required
          />
          <div id="emailHelp" class="form-text">
            The email you would like us to associate with your account accesses.
            This is ideally a Gmail address.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="countryField" class="form-label mb-1 required-field"
            >Country</label
          ><span class="asterisk"></span>
          <input
            type="text"
            name="Country"
            class="form-control w-100 form-field"
            id="countryField"
            autocomplete="country-name"
            aria-describedby="countryHelp"
            required
          />
          <div id="countryHelp" class="form-text">
            The country where you spend the majority of your time.
          </div>
        </div>
        <div class="mb-3">
          <label for="accommodationTextarea" class="form-label mb-1"
            >Any accomodations?</label
          >
          <span class="asterisk"></span>
          <textarea
            name="Accommodations"
            class="form-control w-100 form-text-area"
            id="accommodationTextarea"
            aria-describedby="accommodationHelp"></textarea>
          <div id="accommodationHelp" class="form-text">
            Please list any accomodations that you need for remote meetings
            and/or work.</div
          ></div
        >
      </div>
      <div class="col-md-6 mx-auto">
        <button
          id="volunteerSubmit"
          type="submit"
          class="btn btn-info w-100 general-button">Submit</button
        >
      </div>
    </form>
  </ThemedSection>
  <div
    class="d-none col p-4 border-primary volunteer-form"
    id="volunteerSuccess"
  >
    <div class="lead">
      Thank you for your interest in volunteering with <span
        class="text-brand text-primary"
        >Accessible <strong>Community</strong></span
      >. We'll be in touch shortly.
    </div>
  </div>
</Layout>

<script is:inline>
  const form = document.querySelector("#volunteerFormEl");
  const submitButton = document.querySelector("#volunteerSubmit");
  const scriptURL =
    "https://script.google.com/macros/s/AKfycbxTIdQJmkqH6iU0wil7F9CIhLuYRwysMKRgInwBnvURWGkvE2zUIBtIV3XqA8F2ZQXfWg/exec";

  form.addEventListener("submit", (e) => {
    submitButton.disabled = true;
    e.preventDefault();

    let requestBody = new FormData(form);

    fetch(scriptURL, {
      method: "POST",
      body: requestBody,
      mode: "no-cors",
    })
      .then((response) => {
        form.classList.add("d-none");
        const successMessage = document.querySelector("#volunteerSuccess");
        successMessage.classList.remove("d-none");
      })
      .catch((error) => {
        alert("Error!", error.message);
        submitButton.disabled = false;
      });
  });
</script>

<style>
  /* first declaration that is commented out below is for debugging purposes. */
  /* * {
    outline: 1px solid black;
  } */

  .volunteer-form {
    border: 3.5px solid;
    border-radius: 0.5rem;
  }

  .check {
    width: 30px;
    height: 30px;
  }

  fieldset label {
    cursor: pointer;
  }

  .form-text-area {
    height: 6em;
  }
</style>
