---
import Layout from '../layouts/Layout.astro';
import ThemedSection from '../components/ThemedSection.astro';

const title = 'Volunteer'
const heading = title

const crumbs = [{
  name: 'Home', href: '/',
}, {
  name: 'Join us', href: '/join-us',
}]
---

<Layout title={title} crumbs={crumbs} heading={heading}>
 <ThemedSection style="tertiary">
  <h2 class="display-4 fw-bold">Volunteer Teams</h2>
  <div class="col-md-9">
    <p>Thank you for wanting to learn about our volunteer opportunities at <span class="text-brand text-primary">Accessible <strong>Community</strong></span>. We have five different teams to choose from, and we have provided decriptions of each team to help you choose one (or more) to join. Everyone, including our staff, is a volunteer.</p>
    <p>After you determine which team(s) you want to volunteer with, or if you think you could help in another way not listed, you may <a href="#form">fill&nbsp;out&nbsp;a&nbsp;volunteer&nbsp;form</a>.</p>
    <p><strong>All our teams meet virtually on Zoom.</strong> This allows us to have an international team of volunteers.</p>
    <p class="mb-5">All meeting times are in <strong>Eastern Daylight Time (<abbr>EDT</abbr>)</strong>. For teams that meet on more than one day, you may choose which day(s) to attend.</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3 shadow team-card">
        <h3 class="display-5 card-header text-primary">Content Team</h3>
        <div class="card-body">
          <p class="card-text"><span class="fw-bold">Description:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit nam assumenda dolore, minima ab hic facilis eum temporibus. Inventore expedita soluta repellendus veritatis excepturi corporis commodi, voluptas in rerum aperiam.</p>
          <p><span class="fw-bold">Meeting Day:</span> Someday at <time datetime="17:00">5:00 pm</time> (<abbr title="Eastern Daylight Time">EDT</abbr>)</p>
          <p><span class="fw-bold">Team Leader:</span> Ellen</p>
          <p>For more info on the Content&nbsp;Team, <a class="volunteer-link" href="">email&nbsp;Ellen</a>.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3 shadow team-card">
        <h3 class="display-5 card-header text-primary">Development Team</h3>
        <div class="card-body">
          <p class="card-text"><span class="fw-bold">Description:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit nam assumenda dolore, minima ab hic facilis eum temporibus. Inventore expedita soluta repellendus veritatis excepturi corporis commodi, voluptas in rerum aperiam.</p>
          <p><span class="fw-bold">Meeting Day:</span> Someday at <time datetime="17:00">5:00 pm</time> (<abbr title="Eastern Daylight Time">EDT</abbr>)</p>
          <p><span class="fw-bold">Team Leader:</span> Brian</p>
          <p>For more info on the Development&nbsp;Team, <a class="volunteer-link" href="">email&nbsp;Brian</a>.</p>
        </div>
      </div>
    </div>
    </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3 shadow team-card">
        <h3 class="display-5 card-header text-primary">Evaluation Team</h3>
        <div class="card-body">
          <p class="card-text"><span class="fw-bold">Description:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit nam assumenda dolore, minima ab hic facilis eum temporibus. Inventore expedita soluta repellendus veritatis excepturi corporis commodi, voluptas in rerum aperiam.</p>
          <p><span class="fw-bold">Meeting Day:</span> Tuesdays at <time datetime="16:00">4:00 pm</time> (<abbr title="Eastern Daylight Time">EDT</abbr>) and Fridays at <time datetime="08:00">8:00 pm</time> (<abbr title="Eastern Daylight Time">EDT</abbr>)</p>
          <p><span class="fw-bold">Team Leader:</span> Rachael</p>
          <p>For more info on the Evaluation&nbsp;Team, <a class="volunteer-link" href="">email&nbsp;Rachael</a>.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3 shadow team-card">
        <h3 class="display-5 card-header text-primary">Leadership Team</h3>
        <div class="card-body">
          <p class="card-text"><span class="fw-bold">Description:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit nam assumenda dolore, minima ab hic facilis eum temporibus. Inventore expedita soluta repellendus veritatis excepturi corporis commodi, voluptas in rerum aperiam.</p>
          <p><span class="fw-bold">Meeting Day:</span> Someday at <time datetime="17:00">5:00 pm</time> (<abbr title="Eastern Daylight Time">EDT</abbr>)</p>
          <p><span class="fw-bold">Team Leader:</span> Rachael</p>
          <p>For more info on the Leadership&nbsp;Team, <a class="volunteer-link" href="">email&nbsp;Rachael</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3 shadow team-card">
        <h3 class="display-5 card-header text-primary">User Experience (<abbr>UX</abbr>) Team</h3>
        <div class="card-body">
          <p class="card-text"><span class="fw-bold">Description:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit nam assumenda dolore, minima ab hic facilis eum temporibus. Inventore expedita soluta repellendus veritatis excepturi corporis commodi, voluptas in rerum aperiam.</p>
          <p><span class="fw-bold">Meeting Day:</span> Someday at <time datetime="17:00">5:00 pm</time> (<abbr title="Eastern Daylight Time">EDT</abbr>)</p>
          <p><span class="fw-bold">Team Leader:</span> Michael</p>
          <p>For more info on the <abbr>UX</abbr>&nbsp;Team, <a class="volunteer-link" href="">email&nbsp;Michael</a>.</p>
        </div>
     </div>
    </div>
  </div>
 </ThemedSection>

 <ThemedSection id="form" style="secondary">
  <h2 class="display-4 fw-bold mb-4">Volunteer Form</h2>
  <form class="col p-4 border-primary volunteer-form">
    <p class="lead">Thank you for your interest in volunteering with <span class="text-brand text-primary">Accessible <strong>Community</strong></span>.</p>
    <p class="col-lg-9">We are a growing <strong class="text-primary">international community</strong> of volunteers working together to improve our communities for people with disabilities.</p>
    <p class="col-lg-9">We are looking for individuals with passion and dedication who are willing to spend about 4&nbsp;hours a week volunteering their talents. To succeed, we need a wide variety of skills.</p>
    <p class="col-lg-9">If you are interested in volunteering your time and talents, then please complete the form below. Required fields have an asterisk (<span class="text-primary">*</span>).</p>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="firstNameField" class="form-label mb-1 required-field">First Name</label>
        <input type="text" class="form-control w-100 form-field" id="firstNameField" autocomplete="given-name" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="lastNameField" class="form-label mb-1 required-field">Last Name</label>
        <input type="text" class="form-control w-100 form-field" id="lastNameField" autocomplete="family-name" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="emailField" class="form-label mb-1 required-field">Email address</label>
        <input type="email" class="form-control w-100 form-field" id="emailField" autocomplete="email" aria-describedby="emailHelp" required>
        <div id="emailHelp" class="form-text">The email you would like us to associate with your account accesses. This is ideally a Gmail address.</div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="countryField" class="form-label mb-1 required-field">Country</label>
        <input type="text" class="form-control w-100 form-field" id="countryField" autocomplete="country-name" aria-describedby="emailHelp" required>
        <div id="countryHelp" class="form-text">The country where you spend the majority of your time.</div>
      </div>
      <div class="col-md-6 mb-3">
        <fieldset>
          <legend class="mb-2 fs-5 required-field">
            On which Team(s) Would You Like to Volunteer?
          </legend>
          <div class="form-check d-flex mb-2 align-items-center">
            <input class="form-check-input check" type="checkbox" name="flexRadioDefault" id="interestWrite" aria-checked="false">
            <label class="form-check-label ps-2" for="interestWrite">
              Content Team
            </label>
          </div>
          <div class="form-check d-flex mb-2 align-items-center">
            <input class="form-check-input check" type="checkbox" name="flexRadioDefault" id="interestDev" aria-checked="false">
            <label class="form-check-label ps-2" for="interestDev">
              Development Team
            </label>
          </div>
          <div class="form-check d-flex mb-2 align-items-center">
            <input class="form-check-input check" type="checkbox" name="flexRadioDefault" id="interestEval" aria-checked="false">
            <label class="form-check-label ps-2" for="interestEval">
              Evaluation Team
            </label>
          </div>
          <div class="form-check d-flex mb-2 align-items-center">
            <input class="form-check-input check" type="checkbox" name="flexRadioDefault" id="interestRun" aria-checked="false">
            <label class="form-check-label ps-2" for="interestRun">
              Leadership Team
            </label>
          </div>
          <div class="form-check d-flex mb-2 align-items-center">
            <input class="form-check-input check" type="checkbox" name="flexRadioDefault" id="interestUX" aria-checked="false">
            <label class="form-check-label ps-2" for="interestUX">
              UX Team
            </label>
          </div>
          <div class="form-check d-flex mb-2 align-items-center">
            <input class="form-check-input check" type="checkbox" name="flexRadioDefault" id="interestOther" aria-checked="false">
            <label class="form-check-label ps-2" for="interestOther">
              Other
            </label>
          </div>
        </fieldset>
      </div>
      <div class="col-md-6 mb-3">
        <fieldset>
          <legend class="mb-2 fs-5 required-field">
            How Many Hours Per Week Would You Like to Volunteer?
          </legend>
          <div class="form-check d-flex mb-2 align-items-center">
            <input class="form-check-input check" type="radio" name="hoursLess" id="hoursLess" aria-checked="false">
            <label class="form-check-label ps-2" for="hoursLess">
              Less than 4 hours a week
            </label>
          </div>
          <div class="form-check d-flex mb-2 align-items-center">
            <input class="form-check-input check" type="radio" name="hoursAround" id="hoursAround" aria-checked="false">
            <label class="form-check-label ps-2" for="hoursAround">
              Around 4 hours a week
            </label>
          </div>
          <div class="form-check d-flex mb-2 align-items-center">
            <input class="form-check-input check" type="radio" name="hoursMore" id="hoursMore" aria-checked="false">
            <label class="form-check-label ps-2" for="hoursMore">
              More than 4 hours a week
            </label>
          </div>
        </fieldset>
      </div>
      <div class="form-floating mb-3">
        <label for="accommodateTextarea" class="form-label mb-1">Please list any accomodations needed for remote meetings and work.</label>
        <textarea class="form-control w-100 form-text-area" id="accomodateTextarea"></textarea>
      </div>
      <div class="col-md-6 mx-auto">
        <button type="submit" class="btn bg-primary text-white w-100 general-button">Submit</button>
    </div>
  </form>
</Section>

<style>
  /* first declaration that is commented out below is for debugging purposes. */
  /* * {
    outline: 1px solid black;
  } */

  /* .team-card {
    border: 3.5px solid #041058;;
  } */

  .team-header {
    background-color: white;
  }

  .volunteer-form {
    border: 3.5px solid;
    border-radius: 0.5rem;
  }

  .check {
   width: 30px;
   height: 30px;
  }

  fieldset label {
    cursor: pointer;
  }

  .form-text-area {
    height: 6em;
  }

</style>
 </ThemedSection>
</Layout>