---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Team Member Profiles">
	<div class="mb-3" slot="header">
		<h1 class="mb-0">Team Member Profiles</h1>
		<a href="/" class="text-secondary">&leftarrow; Back to Main</a>
	</div>
	<ul>
		<li>
			<a href="/profiles/board">Board Members</a>
		</li>
		<li>
			<a href="/profiles/staff">Leadership and Staff</a>
		</li>
		<li>
            <a href="/profiles/mutua11y"><b>mutu</b>a11y</a>
        </li>
		<li>
            <a href="/profiles/ta11y"><b>t</b>a11y</a>
		</li>
	</ul>
</Layout>
