---
import { getEntry } from 'astro:content';
import { getAllBlogsAndRelated } from '../../../lib/blog'
import { kebabCase } from 'lodash-es';

export async function getStaticPaths() {
  const { blogs: allBlogs, months } = await getAllBlogsAndRelated();
  const crumbs = [{
    name: 'Home', href: "/"
  }, {
    name: 'Blog', href: "/blog"
  }, {
    name: 'Months', href: "/blog/months"
  }]

  return months.map(month => ({
    params: { slug: kebabCase(month) }, props: { allBlogs, crumbs, month },
  })); 
}

const { allBlogs, crumbs, month } = Astro.props;
const blogs = [];

for (const blog of allBlogs) {
  const published = blog.data.published.toLocaleDateString('en-us', {
    year: 'numeric',
    month: 'long',
  });
  if (published === month) {
    blog.author = await getEntry(blog.data.author);
    blogs.push(blog);
  };
}

import Layout from "../../../layouts/Layout.astro";
import ThemedSection from "../../../components/Section.astro";
---

<Layout crumbs={crumbs} title={month}>
  <ThemedSection theme="body-tertiary">
    <h2>Recent Blogs</h2>
    <ul>
      { blogs.map(b => 
        <li>
          <a href={`/blog/${b.slug}`}>{ b.data.title } by {b.author.data.name}</a>
        </li>
      )}
    </ul>
  </ThemedSection>
</Layout>

<style>
  div.fs-6 {
    line-height: 0.9em;
  }
</style>getBlogCataloggetBlogCatalog