---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const team = await getCollection("team");

  return [
    {
      params: { tag: "board" },
      props: {
        team,
        title: "Board Members",
        heading: "Board <strong>Members</strong>",
      },
    },
    {
      params: { tag: "leadership" },
      props: {
        team,
        title: "Leadership Team",
        heading: "Leadership <strong>Team</strong>",
      },
    },
  ];
}

import ImageHeading from "../../components/ImageHeading.astro";
import Layout from "../../layouts/Layout.astro";
import TeamMemberBio from "../../components/TeamMemberBio.astro";
// import TeamHeading from "../../components/TeamHeading.astro";
import ThemedSection from "../../components/ThemedSection.astro";

import { sortBy } from "lodash-es";

const { tag } = Astro.params;
const { team, title, heading } = Astro.props;

const teamMembers = sortBy(
  team.filter(({ data }) => data.tags?.includes(tag)),
  ({ data }) => data.name.split(" ").slice(1).join(" "),
);

const crumbs = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "Team",
    href: "/team",
  },
];
---

<Layout title={title} crumbs={crumbs}>
  <ImageHeading image="team" slot="header" set:html={heading} />
  <ThemedSection style="tertiary">
    <ul class="list-group">
      {
        teamMembers.map((sm) => (
          <li class="list-inline-item my-2 w-100">
            <div class="text-start bg-body shadow-sm rounded-1 p-2 pt-2 fs-4">
              <TeamMemberBio member={sm} />
            </div>
          </li>
        ))
      }
    </ul>
  </ThemedSection>
</Layout>

<style is:global>
  .staff-list-item {
    max-width: 18rem;
  }
  .staff-list-item .vignette-name {
    color: var(--bs-primary-text-emphasis);
    margin-bottom: -0.1em;
  }
  .staff-list-item .vignette-title {
    line-height: 1.1em;
  }
</style>
