---
import Layout from '../../layouts/Layout.astro';

const title = 'Team';
const heading = title;
---

<Layout title={title} heading={heading}>
  <div class="container-fluid">
    <ul class="py-5 display-5">
      <li>
        <a href="/team/board">Board Members</a>
      </li>
      <li>
        <a href="/team/leadership">Leadership</a>
      </li>
      <li>
        <a href="/team/staff">Staff</a>
      </li>
      <li>
        <a href="/team/previous">Previous Contributors</a>
      </li>
      <li>
        <a href="/team/partners">Partners</a>
      </li>
    </ul>
  </div>
</Layout>
