---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Team Members" heading="Our team">
  <div class="container-fluid">
    <ul class="py-5 display-5">
      <li>
        <a class="link-ac" href="/team/board">Board Members</a>
      </li>
      <li>
        <a class="link-ac" href="/team/leadership">Leadership</a>
      </li>
      <li>
        <a class="link-ac" href="/team/staff">Staff</a>
      </li>
      <li>
        <a class="link-ac" href="/team/previous">Previous Contributors</a>
      </li>
      <li>
        <a class="link-ac" href="/team/partners">Partners</a>
      </li>
    </ul>
  </div>
</Layout>
