---
import Layout from '../../layouts/Layout.astro';
import TeamHeading from '../../components/TeamHeading.astro';
---

<Layout title="Team">
  <TeamHeading slot="header">
    Team
  </TeamHeading>
  <section class="container-fluid">
    <ul class="py-5 display-5">
      <li>
        <a href="/team/board">Board Members</a>
      </li>
      <li>
        <a href="/team/leadership">Leadership</a>
      </li>
      <li>
        <a href="/team/staff">Staff</a>
      </li>
      <li>
        <a href="/team/previous">Previous Contributors</a>
      </li>
      <li>
        <a href="/team/partners">Partners</a>
      </li>
    </ul>
  </section>
</Layout>
