---
import Layout from "../../layouts/Layout.astro";
import ImageHeading from "../../components/ImageHeading.astro";

import type { PageMetadata } from "@lib/types";

const title = "Team";
const metadata: PageMetadata = {
  title,
  description: "The team at Accessible Community",
};
---

<Layout {title} {metadata}>
  <ImageHeading image="team" slot="header">Team</ImageHeading>
  <section class="container-fluid">
    <ul class="py-5 display-5 list-spaced">
      <li>
        <a href="/team/board">Board Members</a>
      </li>
      <li>
        <a href="/team/leadership">Leadership</a>
      </li>
      <li>
        <a href="/team/staff">Staff</a>
      </li>
      <li>
        <a href="/team/previous">Previous Contributors</a>
      </li>
      <li>
        <a href="/team/partners">Partners</a>
      </li>
    </ul>
  </section>
</Layout>
