---
import Layout from "../../layouts/Layout.astro";
import ImageHeading from "../../components/ImageHeading.astro";
import CollaboratorList from "../../components/CollaboratorList.astro";
import ThemedSection from "../../components/ThemedSection.astro";

import { getCollection } from "astro:content";
import type { Breadcrumbs, PageMetadata } from "@lib/types";

const title = "Partners";
const metadata: PageMetadata = {
  title,
  description: "Our partners at Accessible Community",
};
const crumbs: Breadcrumbs = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "Team",
    href: "/team",
  },
];

const partners = await getCollection("collaborators", ({ data }) =>
  data.tags.includes("partner"),
);
---

<Layout {title} {crumbs} {metadata}>
  <ImageHeading image="team" slot="header">
    <strong>Partners</strong>
  </ImageHeading>
  <ThemedSection style="secondary">
    <p class="lead mb-5 text-center">
      Thank you to the organizations that partner with us and support our work
      in various ways.
    </p>
    <CollaboratorList items={partners} />
  </ThemedSection>
</Layout>
