---
import Layout from '../../layouts/Layout.astro';
import Section from '../../components/Section.astro';
---

<Layout title="Our partners and supporters">
 <Section theme="body-tertiary">
  <p class="lead">Thank you to the organizations that partner with us and support our work in various ways.</p>
  <ul class="row list-unstyled">
   <li class="col"><a href="https://www.deque.com/" target="_blank"><img src="" alt="Deque"></a></li>
   <li class="col"><a href="https://knowbility.org/" target="_blank"><img src="" alt="Knowbility"></a></li>
   <li class="col"><a href="https://www.mitre.org/" target="_blank"><img src="" alt="MITRE"></a></li>
   <li class="col"><a href="https://www.pearson.com/en-us.html" target="_blank"><img src="" alt="Pearson"></a></li>
   <li class="col"><a href="https://teachaccess.org/" target="_blank"><img src="" alt="Teach Access"></a></li>
   <li class="col"><a href="https://tetralogical.com/" target="_blank"><img src="" alt="TetraLogical"></a></li>
   <li class="col"><a href="https://www.tpgi.com/" target="_blank"><img src="" alt="TPGi"></a></li>
  </ul>
 </Section>
</Layout>