---
import Layout from "../../layouts/Layout.astro";
import ImageHeading from "../../components/ImageHeading.astro";
import CollaboratorList from "../../components/CollaboratorList.astro";
import ThemedSection from "../../components/ThemedSection.astro";

import { getCollection } from "astro:content";

const partners = await getCollection(
  "collaborators", ({data}) => data.tags.includes("partner")
);
const crumbs = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "Team",
    href: "/team",
  },
];
---

<Layout crumbs={crumbs} title="Partners">
  <ImageHeading image="team" slot="header">
    <strong>Partners</strong>
  </ImageHeading>
  <ThemedSection style="secondary">
    <p class="lead mb-5 text-center">
      Thank you to the organizations that partner with us and support our work
      in various ways.
    </p>
    <CollaboratorList items={partners} />
  </ThemedSection>
</Layout>
