---
import Layout from '../../layouts/Layout.astro';
import ImageHeading from '../../components/ImageHeading.astro';
import ThemedSection from '../../components/ThemedSection.astro';

const crumbs = [{
  name: 'Home', href: '/',
}, {
  name: 'Team', href: '/team',
}];
---

<Layout title="Previous Contributors" crumbs={crumbs}>
  <ImageHeading image="team" slot="header">
    Previous <strong>Contributors</strong>
  </ImageHeading>
  <ThemedSection style="secondary">
    <div class="col-xxl-9 pb-3">
      <p class="lead">We sincerely appreciate the time and energy that each person listed below has contributed to our mission.</p>
    </div>
    <div class="card mb-5 shadow team-card">
      <h2 class="card-header text-primary-emphasis">Board <strong>Members</strong></h2>
      <div class="card-body">
        <ul>
          <li>Cham L. (Board Member, 2021-23)</li>
          <li>Tammi Smith (Board Secretary, 2019-21)</li>
          <li>Ben Wilson (Board President, 2017-19)</li>
        </ul>
      </div>
    </div>
    <div class="card mb-5 shadow team-card">
      <h2 class="card-header text-primary-emphasis">Leadership <strong>Team</strong></h2>
      <div class="card-body">
        <ul>
          <li>Marjana C. (loca11y Project Manager, 2022)</li>
          <li>Zsuzsanna Orban (mutua11y Workshops Project Manager, 2022-23)</li>
          <li>Abdullah S. (Director of Donor Relations, 2020-21)</li>
        </ul>
      </div>
    </div>
    <div class="card mb-5 shadow team-card">
      <h2 class="card-header text-primary-emphasis">Contributors</h2>
      <div class="card-body">
        <ul class="list-inline mx-3">
          <li class="list-inline-item">Brian Chu</li>
          <li class="list-inline-item">Hayley Dott</li>
          <li class="list-inline-item">Albert Kim</li>
          <li class="list-inline-item">Eleanor Waldschuetz</li>
        </ul>
      </div>
    </div>
    <div class="card mb-5 shadow team-card">
      <h2 class="card-header text-primary-emphasis">Internships</h2>
      <div class="card-body">
        <ul class="list-inline mx-3">
          <li class="list-inline-item">Arshiya Bharatam</li>
          <li class="list-inline-item">Young Chen</li>
          <li class="list-inline-item">Coleen Cox</li>
          <li class="list-inline-item">Yash Dubey</li>
          <li class="list-inline-item">Tarry G.</li>
          <li class="list-inline-item">Ashley McNair</li>
          <li class="list-inline-item">Viviana Moreno</li>
          <li class="list-inline-item">Alexander Steele</li>
          <li class="list-inline-item">Evan Tansil</li>
          <li class="list-inline-item">Gabrielle Trilling</li>
        </ul>
      </div>
    </div>
    <div class="card mb-5 shadow team-card">
      <h2 class="card-header text-primary-emphasis">Special <strong>Projects</strong></h2>
      <div class="card-body">
        <h3 class="display-6"><strong>Toptal</strong> loca11y Volunteers (Summer/Fall 2023)</h3>
        <ul class="list-inline mx-3">
          <li class="list-inline-item">Joshua Calder</li>
          <li class="list-inline-item">Prateek Chaplot</li>
          <li class="list-inline-item">Nishit Chittora</li>
          <li class="list-inline-item">Rafal Dylewski</li>
          <li class="list-inline-item">Rado Fulek</li>
          <li class="list-inline-item">David Medina Godoy</li>
          <li class="list-inline-item">Hazem Kallini</li>
          <li class="list-inline-item">Vladimir Koncos</li>
          <li class="list-inline-item">Nathanael (Phil) Moody</li>
          <li class="list-inline-item">Gabriel Nwabudike</li>
          <li class="list-inline-item">Jessica Pham</li>
          <li class="list-inline-item">Diego Plascencia</li>
          <li class="list-inline-item">Barbara Prusiewicz</li>
          <li class="list-inline-item">Bilal Sammour</li>
          <li class="list-inline-item">Anna Shcherbakova</li>
          <li class="list-inline-item">Omar Tariq</li>
        </ul>
        <h3 class="display-6"><strong>University of Maryland</strong>, Impact Consulting Fellowship (Spring 2021)</h3>
        <ul class="list-inline mx-3">
          <li class="list-inline-item">Percy Chipunza</li>
          <li class="list-inline-item">Nathan Gallagher</li>
          <li class="list-inline-item">Steven Haigler</li>
          <li class="list-inline-item">Andrew Kasner</li>
          <li class="list-inline-item">Melanie Rojas</li>
        </ul>
        <h3 class="display-6"><strong>University of Maryland</strong>, Capstone Project (Spring 2021)</h3>
        <ul class="list-inline mx-3">
          <li class="list-inline-item">Manar Al-badarneh</li>
          <li class="list-inline-item">Emily Barbagallo</li>
          <li class="list-inline-item">Andrew Day</li>
          <li class="list-inline-item">Angad Dhillon</li>
          <li class="list-inline-item">Jonathan Fuentes</li>
          <li class="list-inline-item">Sammi Lacovara</li>
        </ul>
      </div>
    </div>
  </div>
 </ThemedSection>
</Layout>

<style>
  /* first declaration that is commented out below is for debugging purposes. */
  /* {
    outline: 1px solid black;
  } */

  .list-inline-item:not(:last-child) {
    margin-right: 1.5em;
  }
</style>