---
// TODO: Make a table of contents like page for the about section.

import Layout from "../../layouts/Layout.astro";
---

<Layout title="About">
  <div class="container-fluid">
    <ul class="py-5 display-5">
      <li class="mb-3">
        <a href="/about/mission" class="py-1 px-10">Mission &amp; Vision</a>
      </li>
      <li class="mb-3">
        <a href="/about/story" class="py-1 px-10">Founder's Story</a>
      </li>
      <li class="mb-3">
        <a href="/about/policies" class="py-1 px-10">Our Policies</a>
      </li>
    </ul>
  </div>
</Layout>
