---
// TODO: Make a table of contents like page for the about section.

import Layout from "../../layouts/Layout.astro";
---

<Layout title="About">
  <div class="container-fluid">
    <ul class="py-5 display-5">
      <li>
        <a href="/about/mission">Mission &amp; Vision</a>
      </li>
      <li>
        <a href="/about/story">Founder's Story</a>
      </li>
      <li>
        <a href="/about/policies">Our Policies</a>
      </li>
    </ul>
  </div>
</Layout>
