---
import Layout from '../../layouts/Layout.astro';
import Section from '../../components/Section.astro';
import ExternalLink from '../../components/ExternalLink.astro';
---

<Layout title="Our policies">
 <Section theme="body-tertiary">
  <p>All contributors to <span class="text-brand text-ac">Accessible <strong>Community</strong></span> must read and agree to the following policies. This includes our leadership and staff. If you are interested in volunteering on any team, you will need to agree to the following policies.</p>
  <p>Links to all policies are available on both our website and on Google Docs.</p>
  <h2>Policy Links</h2>
  <ul>
   <li><a href="../../code-of-conduct">Code of Conduct (Webpage version)</a></li>
   <li>
     <ExternalLink class="text-ac" href="https://docs.google.com/document/d/1qN_AaJaMcjeyxg6zK63OJxsZbv-zwbONtFgZbiiISso/edit?usp=sharing" target="_blank">
      Code of Conduct (Google Docs version)
     </ExternalLink>
   </li>
  </ul>
  <ul>
   <li><a href="../../harrassment-policy">Harrassment Policy (Webpage version)</a></li>
   <li>
     <ExternalLink class="text-ac" href="https://docs.google.com/document/d/1wmek800MZnU8pqtE-jo_EWqz4tCg4Q6W0Tcrnn4OF-8/edit?usp=sharing" target="_blank">
      Harrassment Policy (Google Docs version)
     </ExternalLink>
   </li>
  </ul>
  <ul>
   <li><a href="../../non-discrimination-policy">Non-Discrimination Policy (Webpage version)</a></li>
   <li>
    <ExternalLink class="text-ac" href="https://docs.google.com/document/d/1pF-SJRIi4LgEtFWsOKN_d73jNkajJVtS952f0bOtaGc/edit?usp=sharing" target="_blank">
      Non-Discrimination Policy (Google Docs version)
    </ExternalLink>
   </li>
  </ul>
  <ul>
   <li><a href="../../privacy-policy">Privacy Policy (Webpage version)</a></li>
   <li>
     <ExternalLink class="text-ac" href="">
      Privacy Policy (Google Docs version)
     </ExternalLink>
   </li>
  </ul>
  <ul>
   <li><a href="../../technology-policy">Technology Policy (Webpage version)</a></li>
   <li>
    <ExternalLink class="text-ac" href="https://docs.google.com/document/d/1sAHquNhpUr-OOADr6zg7-GaywF53PJbzn6fr0cn9x-w/edit?usp=sharing" target="_blank">
      Technology Policy (Google Docs version)
    </ExternalLink>
   </li>
  </ul>
 </Section>
</Layout>