---
const {title, author, date} = Astro.props;
---


<article>
    <h2>{title}</h2>
    <div>
        <a>{author}</a>
        <p>Published on: {date}</p>
    </div>
<!-- blog contents -->
    <a
</article>
