---
interface Props {
  text?: String;
  class?: String;
  "no-aria"?: Boolean;
}

let {
  text = "",
  class: extraClasses = "",
  "no-aria": noAria = false,
} = Astro.props;

if (Astro.slots.has("default")) text = await Astro.slots.render("default");

text = text
  .replace("Accessible", '<span class="fw-lighter">Accessible</span>')
  .replace(
    /(loc|t|mutu)a11y/i,
    noAria ?
      '<span class="text-lowercase">$1<span class="fw-lighter">a11y</span></span>'
    : '<span class="text-lowercase" aria-hidden="true">$1<span class="fw-lighter">a11y</span></span><span class="visually-hidden">$1ally</span>',
  )
  .replace(
    /(use)able/i,
    noAria ?
      '<span class="text-lowercase">$1<span class="fw-lighter">able</span></span>'
    : '<span class="text-lowercase" aria-hidden="true">$1<span class="fw-lighter">able</span></span><span class="visually-hidden">Usable</span>',
  )
  .replace(
    /(fix)able/i,
    noAria ?
      '<span class="text-lowercase">$1<span class="fw-lighter">able</span></span>'
    : '<span class="text-lowercase" aria-hidden="true">$1<span class="fw-lighter">able</span></span><span class="visually-hidden">$1able</span>',
  );
---

<span class:list={["text-brand fw-bold", extraClasses]} set:html={text} />
<style>
  /* Safari renders this weirdly... force to be a standard line height */
  span.text-brand,
  span.text-brand span.fw.lighter {
    line-height: normal;
  }
</style>
