---
---

<hr />
<div>
    <p>© 2019 Accessible Community</p>
    <dl>
        <dt>Mailing Address</dt><dd>PO Box 46; Paeonian Springs, VA, 20129</dd>
        <dt>Email</dt><dd><a href="mailto:info@accessiblecommunity.org">info@accessiblecommunity.org</a></dd>
        <dt>Phone Number</dt>
        <dd>703-651-6703</dd>
    </dl>
</div>