---
import { Icon } from 'astro-icon';

const currentYear = new Date().getFullYear();

const facebookURL = "https://www.facebook.com/AccessibleCommunity";
const linkedinURL = "https://in.linkedin.com/company/accessible-community";
const instagramURL = "https://www.instagram.com/accessible_community/";

const Socials = [{
  name: 'Facebook',
  icon: 'cib:facebook',
  href: facebookURL,
  className: 'cib-facebook',
}, {
  name: 'LinkedIn',
  icon: 'cib:linkedin',
  href: linkedinURL,
  className: 'cib-linkedin',
}, {
  name: 'Instagram',
  icon: 'cib:instagram',
  href: instagramURL,
  className: 'cib-instagram',
}]
---

<footer id="footer">
    <div class="bg-ac container-footer">
        <div class="row align-items-start justify-content-between">
            <div class="col-md-3">
                <nav class="nav-footer">
                    <ul class="list-group  list-group-flush list-footer">
                        <li class="list-group-item bg-transparent ps-0 pt-0">
                            <a class="ac-text-light" href="/about">About</a>
                        </li>
                        <li class="list-group-item bg-transparent ps-0">
                            <a class="ac-text-light" href="/services">Services</a>
                        </li>
                        <li class="list-group-item bg-transparent ps-0">
                            <a class="ac-text-light" href="/team">Team Members</a>
                        </li>
                        <li class="list-group-item bg-transparent ps-0">
                            <a class="ac-text-light" href="/join-us">Join Us</a>
                        </li>
                        <li class="list-group-item bg-transparent ps-0">
                            <a class="ac-text-light" href="/blog">Blog</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-5 col-lg-5 info-footer">
                <dl class="ac-text-light">
                    <dt>Mailing Address</dt>
                        <dd>PO Box 46; Paeonian Springs, VA, 20129</dd>
                    <dt>Email</dt>
                        <dd>
                            <a class="ac-text-light" href="mailto:info@accessiblecommunity.org">info@accessiblecommunity.org</a>
                        </dd>
                    <dt>Phone Number</dt>
                        <dd>703-651-6703</dd>
                    <dt>Socials</dt>
                    { Socials.map(({icon, href, name}) =>
                        <dd class="d-inline-block">
                            <a class="ac-text-light" href={ href } target="_blank">
                                <Icon class="social-icon" alt={ name } name={ icon } />
                            </a>
                        </dd>
                    )}
                </dl>
            </div>
        </div>
        <div class="text-center legal-footer">
            <p class="ac-text-light"><small>Accessible Community is a 501(c)3 organization.</small></p>
            <p class="ac-text-light"><small>© <time datetime="{currentYear}">{currentYear}</time> Accessible Community</small></p>
        </div>
    </div>
</footer>

<style>
    /* first declaration that is commented out below is for debugging purposes. */
    /* * {
        border: 1px solid white;
    } */

    .container-footer {
        padding: 2% 5% 2% 5%;
    }

    .nav-footer {
        margin-bottom: 2%;
    }

    .social-icon {
        margin: 14.5px;
        width: 29px;
        height: 29px;
    }

    .legal-footer {
        padding-top: 2%;
    }
</style>