---
import { Icon } from 'astro-icon';

const currentYear = new Date().getFullYear();

const facebookURL = "https://www.facebook.com/AccessibleCommunity";
const linkedinURL = "https://in.linkedin.com/company/accessible-community";
const instagramURL = "https://www.instagram.com/accessible_community/";

const Socials = [{
  name: 'Facebook',
  icon: 'bi:facebook',
  href: facebookURL,
  className: 'bi bi-facebook social-icon',
}, {
  name: 'LinkedIn',
  icon: 'bi:linkedin',
  href: linkedinURL,
  className: 'bi bi-linkedin social-icon',
}, {
  name: 'Instagram',
  icon: 'bi:instagram',
  href: instagramURL,
  className: 'bi bi-instagram social-icon',
}]
---

<footer id="footer">
    <div class="bg-ac px-2 container-footer">
        <div class="row align-items-start justify-content-between">
            <div class="col-md-3">
                <nav class="nav-footer">
                    <ul class="list-group  list-group-flush list-footer">
                        <li class="list-group-item bg-transparent ps-0 pt-0">
                            <a class="ac-text-light" href="/about">About</a>
                        </li>
                        <li class="list-group-item bg-transparent ps-0">
                            <a class="ac-text-light" href="/services">Services</a>
                        </li>
                        <li class="list-group-item bg-transparent ps-0">
                            <a class="ac-text-light" href="/team">Team Members</a>
                        </li>
                        <li class="list-group-item bg-transparent ps-0">
                            <a class="ac-text-light" href="/join-us">Join Us</a>
                        </li>
                        <li class="list-group-item bg-transparent ps-0">
                            <a class="ac-text-light" href="/blog">Blog</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-4 col-lg-4 info-footer">
                <dl class="ac-text-light">
                    <dt>Mailing Address</dt>
                        <dd>PO Box 46; Paeonian Springs, VA, 20129</dd>
                    <dt>Email</dt>
                        <dd>
                            <a class="ac-text-light" href="mailto:info@accessiblecommunity.org">info@accessiblecommunity.org</a>
                        </dd>
                    <dt>Phone Number</dt>
                        <dd>703-651-6703</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <ul class="ps-0 text-center text-md-end">
                    { Socials.map(({icon, href, className, name}) =>
                    <li class="d-inline-block">
                        <a class="d-inline-block ac-text-light" href={ href } target="_blank">
                            <Icon name={ icon } class={ className } class= "social-icon" height="29" width="29" alt={ name }></Icon> 
                        </a>
                    </li>
                    )}
                </ul>
            </div>
        </div>
        <div class="text-center">
            <p class="ac-text-light"><small>Accessible Community is a 501(c)3 organization.</small></p>
            <p class="ac-text-light"><small>© <time datetime="{currentYear}">{currentYear}</time> Accessible Community</small></p>
        </div>
    </div>
</footer>

<style>
    /* first declaration that is commented out below is for debugging purposes. */
    * {
        border: 1px solid white;
    }

    .container-footer {
        padding-top: 0.5rem; 
        padding-bottom: 0.5rem; 
    }

    .nav-footer {
        margin-bottom: 2%;
    }

    .social-icon {
        margin: 14.5px;
    }
</style>