---
import { getImage } from "astro:assets";

import blogImage from "../images/colored-hero/hands-together.png"
const optimizedBg = await getImage({src: blogImage, format: 'avif'})
const handsBackgroundImageUrl = `url(${optimizedBg.src})`;

const { element: Element = 'h1', fluid = false } = Astro.props;
---

<div class="bg-primary hands-heading">
  <div class="h-100 d-flex align-items-end">
    <div class={`container${fluid ? '-fluid px-4' : ''}`}>
      <slot name="preface" />
      <Element class="display-2 text-white mb-1">
        <slot />
      </Element>
    </div>
  </div>
</div>

<style is:global define:vars={{ handsBackgroundImageUrl }}>
  .hands-heading {
    height: 10rem;
    background: no-repeat var(--handsBackgroundImageUrl);
    background-position: left center;
    /* background-size: cover; */
  }
</style>

