---
---

<a class="text-decoration-none" href="/">
  <h1>
    <img class="img-fluid align-text-top" style="height: 1.1em; " src="/images/ac_logo_blue.png" />
    Accessible <strong>Community</strong>
  </h1>
</a>
<nav>
  <ul aria-role="navigation">
    <li>
      <a href="/services">Services</a>
    </li>
    <li>
      Resources
    </li>
    <li>
      <a href="/team">Team Members</a>
    </li>
    <li>
      <a href="/donate">Donate</a>
    </li>
    <li>
      <a href="/join-us">Join Us</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
  </ul>
</nav>
<hr />
<slot />