---
import { type Breadcrumbs } from "../lib/types";

interface Props {
  title: String;
  crumbs?: Breadcrumbs;
}

import { isEmpty } from "lodash-es";
import { Icon } from "astro-icon/components";
import NavSiteList from "./NavSiteList.astro";

const { title, crumbs = [] } = Astro.props;
const breadCrumbs: Breadcrumbs =
  isEmpty(crumbs) && title != "Home" ? [{ name: "Home", href: "/" }] : crumbs;
---

<header class="sticky-top">
  <div id="header-navbar" class="navbar navbar-expand-lg align-items-top">
    <a
      class="visually-hidden-focusable btn btn-primary skip-link d-print-none"
      href="#main-content"
    >
      Skip to Main Content
    </a>
    <div id="brand-nav" class="container-fluid px-3">
      <button
        class="navbar-toggler px-1 me-2 d-print-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#site-nav"
        aria-controls="site-nav"
        aria-expanded="false"
        aria-label="Toggle site navigation"
      >
        <Icon name="bi:list" class="bi" />
      </button>
      <div class="d-none d-lg-block navbar-brand me-2">
        <Icon name="ac-logo" role="img" aria-hidden="true" />
      </div>
      <div class="my-1 flex-fill align-self-start">
        <a class="navbar-brand" href="/"
          >Accessible <strong>Community</strong></a
        >
      </div>
    </div>
    <nav
      id="site-nav"
      class="collapse navbar-collapse px-3 d-print-none"
      aria-label="Site"
    >
      <NavSiteList main class="my-1 mx-4" />
    </nav>
  </div>
  <nav
    id="breadcrumbs-nav"
    aria-label="Breadcrumb"
    class="position-absolute d-print-none"
  >
    <ol class="breadcrumb lh-sm">
      {
        breadCrumbs.map(({ name, href }) => (
          <li class="breadcrumb-item">
            <a href={href} class="link-offset-1 text-truncate">
              {name}
            </a>
          </li>
        ))
      }
      <li class="breadcrumb-item active" aria-current="page">
        <span class="text-truncate" set:text={title} />
      </li>
    </ol>
  </nav>
</header>
<slot />

<style lang="scss">
  /* first declaration that is commented out below is for debugging purposes. */
  // * {
  //    outline: 1px solid white;
  // }

  @import "../styles/dark-mode.scss";
  @import "../styles/responsive-sizing.scss";

  .navbar {
    min-width: 320px;
    --bs-body-bg: var(--bs-white);
  }

  #breadcrumbs-nav {
    min-width: 250px;
  }

  .skip-link:focus,
  .skip-link:focus-within {
    position: absolute;
    font-size: 1.25rem;
    padding: 0.25rem 2.5rem;
    top: 1rem;
    left: 0.8rem;
    z-index: 999;
  }

  [data-icon="ac-logo"] {
    width: 2.5rem;
    height: 2.5rem;
  }

  [data-icon="bi:list"] {
    width: 1.25rem;
    height: 1.25rem;
  }

  #brand-nav {
    height: 3.5rem;
  }

  #breadcrumbs-nav {
    top: 2.4rem;
    left: 4rem;
  }

  .breadcrumb-item {
    --bs-breadcrumb-item-active-color: var(--bs-primary);
    --bs-link-color-rgb: var(--bs-primary-rgb);

    > .text-truncate {
      display: inline-block;
      max-width: 10em;
    }
  }

  .nav-link {
    margin-inline: 0.222em;
    margin-top: 0.222em;
    margin-bottom: 0.222em;
  }

  .dropdown-menu :global(.dropdown-item) {
    margin-bottom: 0.4em;
  }

  @include media-breakpoint-down(lg) {
    #breadcrumbs-nav {
      left: 3.333rem;
    }
  }

  .navbar-toggler {
    background-color: #dfe1ed;
    border-color: var(--bs-primary-text-emphasis);
    color: var(--bs-primary);
    padding-inline: 3px;
    font-size: 1.1rem;
  }

  @include media-breakpoint-down(md) {
    .navbar-brand {
      --bs-navbar-brand-font-size: 1.1rem;
      vertical-align: sub;
    }
  }

  @include media-breakpoint-down(sm) {
    .navbar-brand {
      --bs-navbar-brand-font-size: 1rem;
      vertical-align: sub;
    }
  }

  @include media-breakpoint-down(md) {
    #breadcrumbs-nav .breadcrumb-item {
      --bs-breadcrumb-item-padding-x: 0.4rem;
      font-size: 0.9em;
      line-height: 1.1em;
    }
  }
  @include media-breakpoint-down(sm) {
    #breadcrumbs-nav .breadcrumb-item {
      --bs-breadcrumb-item-padding-x: 0.3rem;
      font-size: 0.9em;
    }
    .breadcrumb-item > .text-truncate {
      max-width: 8em;
    }
  }
  @include media-breakpoint-down(xs) {
    #breadcrumbs-nav .breadcrumb-item {
      --bs-breadcrumb-item-padding-x: 0.25rem;
    }
    .breadcrumb-item > .text-truncate {
      max-width: 6em;
    }
  }

  @include color-mode(dark) {
    .navbar {
      --bs-body-bg: var(--bs-primary);
    }
    .breadcrumb-item {
      --bs-breadcrumb-item-active-color: var(--bs-white);
      --bs-link-color-rgb: var(--bs-white-rgb);
    }

    .skip-link {
      color: var(--bs-primary);
      background-color: white;
    }

    [data-icon="ac-logo"] {
      color: #ffffff;
    }

    .navbar-toggler {
      color: #ffffff !important;
      background-color: var(--bs-primary);
    }
  }
</style>

<script>
  import { Collapse, Dropdown } from "~bootstrap-es";

  Array.from(document.querySelectorAll(".dropdown")).forEach((node) =>
    Dropdown.getOrCreateInstance(node),
  );
  Array.from(document.querySelectorAll(".collapse")).forEach((node) =>
    Collapse.getOrCreateInstance(node, { toggle: false }),
  );
</script>
