---
import { Icon } from 'astro-icon';
---
  
<header class="bg-white sticky-top">
  <a class="visually-hidden-focusable position-absolute btn btn-lg skip-link" href="#main-content">Skip to Main Content</a>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid px-2">
      <div class="d-flex align-items-center">
        <div class="pe-2">
          <button class="navbar-toggler dropdown-toggle toggle-menu ac-text" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <Icon name="bi:list" class="bi bi-list" height="24" width="24"></Icon>
          </button>
        </div>
        <div>
          <a class="navbar-brand me-auto ac-text" href="/">
              <img class="img-fluid align-text-top" style="height: 1.1em; " src="/images/ac_logo_blue.png" />
                Accessible <strong>Community</strong>
          </a>
        </div>
      </div>
      <div id="navbarSupportedContent" class="collapse align-items-center navbar-collapse justify-content-end">
          <ul class="navbar-nav my-2 main-list" aria-role="navigation">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle display-65 main-menu-item ac-text" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                About
              </a>
              <ul class="dropdown-menu p-0 menu-nav">
                <li><a class="dropdown-item display-7 link-dropdown ac-text" href="">Mission, Vision, Values</a></li>
                <li><a class="dropdown-item display-7 link-dropdown ac-text" href="">History</a></li>
                <li><a class="dropdown-item display-7 link-dropdown ac-text" href="">Leadership</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link display-65 main-menu-item ac-text" href="/services" role="button">
                Services
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle display-65 main-menu-item ac-text" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Team Members
              </a>
              <ul class="dropdown-menu p-0 menu-nav">
                <li><a class="dropdown-item display-7 link-dropdown ac-text" href="/team/board">Board Members</a></li>
                <li><a class="dropdown-item display-7 link-dropdown ac-text" href="/team/staff">Leadership and Staff</a></li>
                <li><a class="dropdown-item display-7 link-dropdown ac-text" href="/team/mutua11y"><strong>mutu</strong>a11y Team</a></li>
                <li><a class="dropdown-item display-7 link-dropdown ac-text" href="/team/ta11y"><strong>t</strong>a11y Team</a></li>
                <li><a class="dropdown-item display-7 link-dropdown ac-text" href="">Previous Contributors</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle display-65 main-menu-item ac-text" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Join Us
              </a>
              <ul class="dropdown-menu p-0 menu-nav">
                <li><a class="dropdown-item display-7 link-dropdown ac-text" href="/donate">Donations</a></li>
                <li><a class="dropdown-item display-7 link-dropdown ac-text" href="">Sponsorships</a></li>
                <li><a class="dropdown-item display-7 link-dropdown ac-text" href="">Volunteer Form</a></li>
                <li><a class="dropdown-item display-7 link-dropdown ac-text" href="">Policies</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle display-65 main-menu-item ac-text" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Blog
              </a>
              <ul class="dropdown-menu p-0 menu-nav">
                <li><a class="dropdown-item display-7 link-dropdown ac-text" href="">Accessibility</a></li>
                <li><a class="dropdown-item display-7 link-dropdown ac-text" href="">Announcements</a></li>
                <li><a class="dropdown-item display-7 link-dropdown ac-text" href="">Events</a></li>
              </ul>
            </li>
          </ul>
          <a class="btn btn my-2 bg-ac ms-3 display-65 ac-text-light general-button" href="/donate" role="button">Donate</a>
      </div>
    </div>
  </nav>
</header>
<slot />

<style>
  /* first declaration that is commented out below is for debugging purposes. */
  /* * {
    outline: 1px solid black;
  } */

  .skip-link {
    z-index: 1;
    top: 8px;
    left: 24px;
  }

  .skip-link, .link-dropdown:hover {
    color: #dfe1ed;
    background-color: #041058;
  }

  .toggle-menu {
    background-color: #dfe1ed;
    border: none;
    padding-inline: 3px;
    font-size: 1.1rem;
  }

  .main-menu-item:focus {
    color: #041058;
  }

  .main-menu-item:hover, .main-menu-item:active {
    background-color: #041058;
    animation-timing-function: ease-in-out;
  }

  .main-menu-item:hover, .main-menu-item:active, .donate-link-navbar {
    color: #dfe1ed;
  }

  .main-list {
    border-width: 3.5px;
    border-style: solid;
    border-radius: 0.5rem;
    margin-inline-end: 0;
  }

  .main-list, .menu-nav, .link-dropdown {
    border-color: #dfe1ed;
  }

  .main-list a {
    padding-left: 0.5rem;
  }

 .menu-nav {
    border-width: 6px;
  }

  .link-dropdown {
    border-bottom-width: 3.5px;
    border-bottom-style: solid;
  }

  .link-dropdown:hover {
    animation-timing-function: ease;
  }

  .general-button:hover {
    color: white;
  }

</style>

<script>
    import { Collapse, Dropdown } from '~bootstrap-es'

    Array.from(document.querySelectorAll('.dropdown'))
      .forEach(node => new Dropdown(node))
    Array.from(document.querySelectorAll('.collapse'))
      .forEach(node => new Collapse(node))
</script>
