---
interface Crumbs {
  name: String;
  href: URL;
}

interface Props {
  title: String;
  crumbs?: Array<Crumbs>;
}

import { isEmpty } from 'lodash-es';
import { Icon } from 'astro-icon';

const { title, crumbs = [] } = Astro.props;
const breadCrumbs = isEmpty(crumbs) && title != 'Home' ? [{ name: 'Home', href: '/' }] : crumbs;
---
  
<header class="bg-body">
  <nav class="navbar navbar-expand-md align-items-top">
    <div class="container-fluid px-3">
      <a class="visually-hidden-focusable btn btn-ac text-small me-2" href="#main-content">
        Skip to Main Content
      </a>
      <Icon name="ac-logo" id="header-logo" class="navbar-brand me-2" />
      <div class="me-auto my-1">
        <a class="navbar-brand lh-sm text-ac" href="/" tabindex="-1">Accessible <strong>Community</strong></a>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb lh-sm">
            { breadCrumbs.map(({name, href}) =>
              <li class="breadcrumb-item"><a href={href} class="text-ac">{name}</a></li>
            )}
            <li class="breadcrumb-item active" aria-current="page"><h1>{ title }</h1></li>
          </ol>
        </nav>
      </div>
      <div>
        <button class="navbar-toggler toggle-menu text-ac" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <Icon name="bi:list" class="bi bi-list" height="24" width="24"></Icon>
        </button>
      </div>
    </div>
    <div id="navbarSupportedContent" class="collapse navbar-collapse mx-3">
      <ul class="navbar-nav main-list my-1 mx-1" aria-role="navigation">
        <li class="nav-item text-nowrap dropdown">
          <a class="nav-link dropdown-toggle rounded-start-1 display-65 main-menu-item text-ac" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About
          </a>
          <ul class="dropdown-menu p-0 menu-nav display-7">
            <li><a class="dropdown-item link-dropdown text-ac" href="/about-us">About Us</a></li>
            <li><a class="dropdown-item link-dropdown text-ac" href="/history">History</a></li>
          </ul>
        </li>
        <li class="nav-item text-nowrap dropdown">
          <a class="nav-link dropdown-toggle display-65 main-menu-item text-ac" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu p-0 menu-nav display-7">
            <li><a class="dropdown-item link-dropdown text-ac" href="/services-overview">Services Overview</a></li>
            <li><a class="dropdown-item link-dropdown text-ac" href="/services-overview#ta11y"><strong>t</strong>a11y</a></li>
            <li><a class="dropdown-item link-dropdown text-ac" href="/services-overview#mutua11y"><strong>mutu</strong>a11y</a></li>
            <li><a class="dropdown-item link-dropdown text-ac" href="/services-overview#loca11y"><strong>loc</strong>a11y</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle display-65 main-menu-item text-ac" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Team Members
          </a>
          <ul class="dropdown-menu p-0 menu-nav display-7">
            <li><a class="dropdown-item link-dropdown text-ac" href="/team-members/board">Board Members</a></li>
            <li><a class="dropdown-item link-dropdown text-ac" href="/team-members/staff">Leadership & Staff</a></li>
            <li><a class="dropdown-item link-dropdown text-ac" href="/team-members/mutua11y"><strong>mutu</strong>a11y Team</a></li>
            <li><a class="dropdown-item link-dropdown text-ac" href="/team-members/ta11y"><strong>t</strong>a11y Team</a></li>
            <li><a class="dropdown-item link-dropdown text-ac" href="/team-members/previous-contributors">Previous Contributors</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle display-65 main-menu-item text-ac" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Join Us
          </a>
          <ul class="dropdown-menu p-0 menu-nav display-7">
            <li><a class="dropdown-item link-dropdown text-ac" href="/volunteer">Volunteer</a></li>
            <li><a class="dropdown-item link-dropdown text-ac" href="/donate">Donate</a></li>
            <li><a class="dropdown-item link-dropdown text-ac" href="/sponsor">Sponsor</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle rounded-end-1 display-65 main-menu-item text-ac" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Blog
          </a>
          <ul class="dropdown-menu p-0 menu-nav display-7">
            <li><a class="dropdown-item link-dropdown text-ac" href="/blog/accessibility">Accessibility</a></li>
            <li><a class="dropdown-item link-dropdown text-ac" href="/blog/announcements">Announcements</a></li>
            <li><a class="dropdown-item link-dropdown text-ac" href="/blog/events">Events</a></li>
          </ul>
        </li>
      </ul>
      <a class="btn btn-ac display-65 mx-1" href="/donate" role="button">Donate</a>
      <!-- <a class="btn btn-ac my-2 ms-3 display-65" href="/donate" role="button">Donate</a> -->
    </div>
  </nav>
</header>
<slot />

<style lang="scss">
  /* first declaration that is commented out below is for debugging purposes. */
  /* * {
    outline: 1px solid black;
  } */

  @import "../styles/ac.scss";
  @import "bootstrap/scss/mixins/_color-mode.scss";

  [astro-icon="ac-logo"] {
    height: 2em;
    color: $ac-navy;
  }

  .breadcrumb-item h1 {
    color: inherit;
    font-size: 1em;
    display: inline-block;
    margin: inherit;
  }

  .toggle-menu {
    background-color: white;
    border: none;
    padding-inline: 3px;
    font-size: 1.1rem;
  }

  .main-menu-item:focus {
    color: $ac-navy;
  }

  .main-menu-item:hover, .main-menu-item:active, .link-dropdown:hover {
    background-color: $ac-navy;
    animation-timing-function: ease-in-out;
    color: #dfe1ed !important;
  }

  .main-list {
    border-width: 3.5px;
    border-style: solid;
    border-radius: 0.5rem;
    margin-inline-end: 0;
  }

  .main-list, .menu-nav, .link-dropdown {
    border-color: #dfe1ed;
  }

  .main-list a {
    padding-left: 0.5rem;
  }

  .menu-nav {
    border-width: 6px;
  }

  .link-dropdown {
    border-bottom-width: 3.5px;
    border-bottom-style: solid;
  }

  .link-dropdown:hover {
    animation-timing-function: ease;
  }

  @include color-mode(dark) {
    *:focus-visible, .toggle-menu:focus {
      outline-color: white;
    }

    .skip-link, .link-dropdown:hover {
      color: var(--ac-navy);
      background-color: white;
    }

    #header-logo {
      color: white;
    }

    .main-menu-item:focus {
      color: white;
    }

    .main-menu-item:hover, .main-menu-item:active {
      background-color: white;
    }

    .navbar-toggler {
      color: white !important;
      background-color: var(--ac-navy);
    }
  }
</style>

<script>
  import { Collapse, Dropdown } from '~bootstrap-es'

  Array.from(document.querySelectorAll('.dropdown'))
    .forEach(node => new Dropdown(node));
  Array.from(document.querySelectorAll('.collapse'))
    .forEach(node => new Collapse(node, { toggle: false }));
</script>
