---
interface Crumbs {
  name: String;
  href: URL;
}

interface Props {
  title: String;
  crumbs?: Array<Crumbs>;
}

import { isEmpty } from 'lodash-es';
import { Icon } from 'astro-icon';

const { title, crumbs = [] } = Astro.props;
const breadCrumbs = isEmpty(crumbs) && title != 'Home' ? [{ name: 'Home', href: '/' }] : crumbs;
---
  
<header class="sticky-top bg-body">
  <nav class="navbar navbar-expand-lg align-items-top">
    <div class="container-fluid px-3">
      <a class="visually-hidden-focusable btn btn-ac btn-sm btn-skip me-2" href="#main-content">
        Skip to Main Content
      </a>
      <Icon name="ac-logo" class="navbar-brand me-2" />
      <div class="me-auto my-1">
        <a class="navbar-brand lh-sm text-ac" href="/" tabindex="-1">Accessible <strong>Community</strong></a>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb lh-sm">
            { breadCrumbs.map(({name, href}) =>
              <li class="breadcrumb-item"><a href={href} class="text-ac">{name}</a></li>
            )}
            <li class="breadcrumb-item active" aria-current="page">{ title }</li>
          </ol>
        </nav>
      </div>
      <div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <Icon name="bi:list" class="bi bi-list" height="24" width="24"></Icon>
        </button>
      </div>
    </div>
    <div id="navbarSupportedContent" class="collapse navbar-collapse mx-3">
      <ul class="navbar-nav my-1 mx-4" aria-role="navigation">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">About</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/about/mission">Mission &amp; Vision</a></li>
            <li><a class="dropdown-item" href="/about/story">Founder's Story</a></li>
            <li><a class="dropdown-item" href="/about/policies">Our Policies</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/services">Services</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Team</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/team/board">Board Members</a></li>
            <li><a class="dropdown-item" href="/team/leadership">Leadership</a></li>
            <li><a class="dropdown-item" href="/team/staff">Staff</a></li>
            <li><a class="dropdown-item" href="/team/previous">Previous Contributors</a></li>
            <li><a class="dropdown-item" href="/team/partners">Partners</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Join us</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/volunteer">Volunteer</a></li>
            <li><a class="dropdown-item" href="/donate">Donate</a></li>
            <li><a class="dropdown-item" href="/join-us/sponsor">Sponsor</a></li>
          </ul>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/blog">Blog</a>
          </li>
        </li>
      </ul>
      <a class="btn btn-ac display-65 mx-1" href="/donate" role="button">Donate</a>
    </div>
  </nav>
</header>
<slot />

<style lang="scss">
  /* first declaration that is commented out below is for debugging purposes. */
  /* * {
    outline: 1px solid black;
  } */

  @import "../styles/ac.scss";
  @import "bootstrap/scss/mixins/_color-mode.scss";

  .btn-skip {
    font-size: 0.6em;
  }

  [astro-icon="ac-logo"] {
    height: 2em;
    color: $ac-navy;
  }

  .breadcrumb-item h1 {
    color: inherit;
    font-size: 1em;
    display: inline-block;
    margin: inherit;
  }

  .navbar-toggler {
    background-color: #dfe1ed;
    color: $ac-navy;
    border: none;
    padding-inline: 3px;
    font-size: 1.1rem;
  }

  @include color-mode(dark) {
    [astro-icon="ac-logo"] {
      color: white;
    }

    .skip-link, .link-dropdown:hover {
      color: var(--ac-navy);
      background-color: white;
    }

    .navbar-toggler {
      color: white !important;
      background-color: $ac-navy;
    }
  }
</style>

<script>
  import { Collapse, Dropdown } from '~bootstrap-es'

  Array.from(document.querySelectorAll('.dropdown'))
    .forEach(node => new Dropdown(node));
  Array.from(document.querySelectorAll('.collapse'))
    .forEach(node => new Collapse(node, { toggle: false }));
</script>
