---
import { Icon } from 'astro-icon';
---
  
<header>
  <a class="visually-hidden-focusable position-absolute btn btn-lg skip-link" href="#main-content">Skip to Main Content</a>
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid">
      <div class="d-flex me-2 stacking-helper">
        <div>
          <a class="navbar-brand text-ac" href="/">
            <Icon name="ac-logo" class="img-fluid align-text-top" />
            Accessible <strong>Community</strong>
          </a>
        </div>
        <div class="mt-2">
          <button class="navbar-toggler dropdown-toggle btn border-2 toggle-menu text-ac" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span>Menu</span>
          </button>
        </div>
      </div>
      <div id="navbarSupportedContent" class="collapse align-items-center navbar-collapse justify-content-end">
          <ul class="navbar-nav me-2 my-2 main-list" aria-role="navigation">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle toggle-dropdown text-ac" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                About
              </a>
              <ul class="dropdown-menu p-0 menu-nav">
                <li><a class="dropdown-item link-dropdown text-ac" href="">Mission, Vision, Values</a></li>
                <li><a class="dropdown-item link-dropdown text-ac" href="">History</a></li>
                <li><a class="dropdown-item link-dropdown text-ac" href="">Leadership</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link text-ac" href="/services" role="button">
                Services
              </a>
              <!-- <ul class="dropdown-menu p-0 menu-nav">
                <li><a class="dropdown-item link-dropdown text-ac" href=""><strong>t</strong>a11y</a></li>
                <li><a class="dropdown-item link-dropdown text-ac" href=""><strong>mutu</strong>a11y</a></li>
                <li><a class="dropdown-item link-dropdown text-ac" href=""><strong>loc</strong>a11y</a></li>
                <li><a class="dropdown-item link-dropdown text-ac" href="">Tip of the Week</a></li>
                <li><a class="dropdown-item link-dropdown text-ac" href="">Newsletter Sign-Up</a></li>
              </ul> -->
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle toggle-dropdown text-ac" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Team Members
              </a>
              <ul class="dropdown-menu p-0 menu-nav">
                <li><a class="dropdown-item link-dropdown text-ac" href="/team/board">Board Members</a></li>
                <li><a class="dropdown-item link-dropdown text-ac" href="/team/staff">Leadership and Staff</a></li>
                <li><a class="dropdown-item link-dropdown text-ac" href="/team/mutua11y"><strong>mutu</strong>a11y Team</a></li>
                <li><a class="dropdown-item link-dropdown text-ac" href="/team/ta11y"><strong>t</strong>a11y Team</a></li>
                <li><a class="dropdown-item link-dropdown text-ac" href="">Previous Contributors</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle toggle-dropdown text-ac" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Join Us
              </a>
              <ul class="dropdown-menu p-0 menu-nav">
                <li><a class="dropdown-item link-dropdown text-ac" href="/donate">Donations</a></li>
                <li><a class="dropdown-item link-dropdown text-ac" href="">Sponsorships</a></li>
                <li><a class="dropdown-item link-dropdown text-ac" href="">Volunteer Form</a></li>
                <li><a class="dropdown-item link-dropdown text-ac" href="">Policies</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle toggle-dropdown text-ac" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Blog
              </a>
              <ul class="dropdown-menu p-0 menu-nav">
                <li><a class="dropdown-item link-dropdown text-ac" href="">Accessibility</a></li>
                <li><a class="dropdown-item link-dropdown text-ac" href="">Announcements</a></li>
                <li><a class="dropdown-item link-dropdown text-ac" href="">Events</a></li>
              </ul>
            </li>
          </ul>
          <a class="btn btn-lg btn-ac my-2 donate-link-navbar" href="/donate" role="button">Donate</a>
      </div>
    </div>
  </nav>
</header>
<slot />

<style>
  /* first declaration that is commented out below is for debugging purposes. */
  /* * {
    outline: 1px solid black;
  } */

  *:focus-visible, .toggle-menu:focus {
    outline: 6px dashed #041058;
    outline-offset: 1px 2px;
    box-shadow: none;
    border-radius: 0.5rem;
  }

  .skip-link {
    z-index: 1;
    top: 8px;
    left: 24px;
  }

  .skip-link, .link-dropdown:hover {
    color: #dfe1ed;
    background-color: #041058;
  }

  .stacking-helper {
    flex-direction: column;
  }

  .toggle-menu {
    background-color: #dfe1ed;
    border: none;
  }

  .toggle-dropdown:focus {
    color: #041058;
  }

  .toggle-dropdown:hover, .toggle-dropdown:active {
    background-color: #041058;
    animation-timing-function: ease-in-out;
  }

  .toggle-dropdown:hover, .toggle-dropdown:active, .donate-link-navbar {
    color: #dfe1ed;
  }

  .main-list {
    border: 3.5px solid;
    border-radius: 0.5rem;
  }

  .main-list, .menu-nav {
    border-color: #dfe1ed;
  }

  .main-list a {
    padding-left: 0.5rem;
  }

 .menu-nav {
    border-width: 8px;
  }

  .link-dropdown {
    border-bottom: 3.5px solid #dfe1ed;
  }

  .link-dropdown:hover {
    animation-timing-function: ease;
  }

  .donate-link-navbar { 
    background-color: #041058;
  }

  [astro-icon="ac-logo"] {
    height: 1.1em;
  }
</style>

<script>
    import { Collapse, Dropdown } from '~bootstrap-es'

    Array.from(document.querySelectorAll('.dropdown'))
      .forEach(node => new Dropdown(node));
    Array.from(document.querySelectorAll('.collapse'))
      .forEach(node => new Collapse(node, { toggle: false }));
</script>
