---
import { flatMap } from "lodash-es";

import { getHeroThemeCssRules, HeroTheme } from "@lib/hero-image";


interface Props {
  image: HeroTheme;
  element?: string;
  fluid?: boolean;
}

const { image, element: Element = "h1", fluid = false } = Astro.props;

const darkenSlightly = ["blog", "notes"].includes(image);
const darkenLots = false;
const cssRules = await getHeroThemeCssRules(image);
const styleRules = flatMap(Object.entries(cssRules), ([key, value]) => {
  return `${key}: ${value};`;
}).join(" ");
---

<div class="heading bg-primary" style={styleRules}>
  <div
    class:list={[
      "h-100 d-flex align-items-end",
      darkenSlightly && "bg-primary bg-opacity-25",
      darkenLots && "bg-primary bg-opacity-75",
    ]}
  >
    <div class={`container${fluid ? "-fluid px-4" : ""}`}>
      <slot name="preface" />
      <Element class="display-2 mb-1">
        <slot />
      </Element>
    </div>
  </div>
</div>

<style is:global>
  .heading .display-2 {
    color: white;
  }
</style>
