---
import { flatMap } from "lodash-es";

import { getHeroThemeCssRules, type HeroThemeType } from "@lib/hero-image";

interface Props {
  image: HeroThemeType;
  element?: string;
  fluid?: boolean;
}

const { image, element: Element = "h1", fluid = false } = Astro.props;

const darkenSlightly = ["blog", "notes"].includes(image);
const darkenLots = false;
const cssRules = await getHeroThemeCssRules(image);
const styleRules = flatMap(Object.entries(cssRules), ([key, value]) => {
  return `${key}: ${value};`;
}).join(" ");
---

<div class="heading bg-primary" style={styleRules}>
  <div
    class:list={[
      "h-100 d-flex align-items-end",
      darkenSlightly && "bg-primary bg-opacity-25",
      darkenLots && "bg-primary bg-opacity-75",
    ]}
  >
    <div class={`container${fluid ? "-fluid px-4" : ""}`}>
      <slot name="preface" />
      <Element class="display-2 mb-1">
        <slot />
      </Element>
    </div>
  </div>
</div>

<style>
  .heading :global(h1),
  .heading :global(h2),
  .heading :global(h3),
  .heading :global(h4) {
    --bs-heading-color: white;
  }

  .heading :global(.display-1),
  .heading :global(.display-2),
  .heading :global(.display-3),
  .heading :global(.display-4) {
    color: white;
  }
</style>
