---
import ExternalLink from "./ExternalLink.astro";
---

<hr />

<p xmlns:cc="http://creativecommons.org/ns#">
  This work is licensed under 
  <ExternalLink
    inline
    href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1"
    rel="license noopener noreferrer"
  >CC BY-NC-SA 4.0</ExternalLink><img
  class="cc"
  src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"
  alt=""
><img
  class="cc"
  src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"
  alt=""><img 
  class="cc"
  src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1"
  alt=""><img
  class="cc"
  src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1"
  alt=""
></p>

<style>
  img.cc {
    height: 1.25em;
    margin-left: 0.25em;
    vertical-align: text-bottom;
  }
</style>