<ul class="nav nav-tabs container" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="instructions-tab" data-bs-toggle="tab" data-bs-target="#instructions" type="button" role="tab" aria-controls="instructions" aria-selected="true">Instructions</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
  </li>
</ul>
<div class="tab-content container pt-5" id="myTabContent">
  <div class="tab-pane fade show active" id="instructions" role="tabpanel" aria-labelledby="instructions-tab">
    <h2>Intructions</h2>
    A few years ago, over lunch, Matt Ater and Rachael Bradley Montgomery joked about creating an accessible escape room. Why? Because Matt, who is blind, had attended his daughter's birthday party at an escape room and wasn't able to participate – at all! Fast forward a year and we were still talking about it. 
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>