---
interface Props {
  theme: string;
}

const { theme } = Astro.props;
let className = 'test for now';
---

<figure class:list={[`col col-lg-4 text-start p-4 bg-${theme} rounded`, className]}>
 <blockquote class="blockquote">
  <!-- <Content /> -->
 </blockquote>
 <figcaption class="blockquote-footer fs-4 d-flex justify-content-end align-items-center gap-2">
   <div class="text-start">
     <span>{'profile'},</span>
     <!-- role will go below the span, with team if included -->
     <div class="fs-6"><strong>t</strong>a11y <strong>content</strong></div>
   </div>
   <!-- image source will be from profile, and name of 'quotee' will be used for alt text -->
   <!-- <img class="profile-pic" src={} alt={`Drawn representation of ${'Name'}`} /> -->
 </figcaption>
</figure>