---
interface Props {
  id?: string;
  theme?: string;
  style?: string;
  text?: boolean;
  verticalPaddings?: Array<string>;
  fluid?: boolean;
}

const {
  id = undefined,
  theme = undefined,
  style = undefined,
  text = false,
  verticalPaddings = ["xs-1", "sm-2", "md-3", "lg-4"],
  fluid = false,
} = Astro.props;

import { getBackgroundAndText } from "../lib/themes.ts";

const bgAndTextClass = getBackgroundAndText(theme, style, text);
const verticalPaddingClasses = verticalPaddings.map((p) => `py-${p}`);
---

<section {id} class:list={[bgAndTextClass, "py-4"]}>
  <div class:list={[`container${fluid ? "-fluid" : ""}`, verticalPaddingClasses]}>
    <slot />
  </div>
</section>

<style>
  section {
    scroll-margin-top: 3rem;
  }
</style>
