---
---

<form class="col-md-6 p-4 border-ac tip-form">
  <p class="display-6">Sign for a weekly "Tip of the Week" email to get a quick accessibility tip that can improve your website, social media, events, and beyond. This is a great no-cost way to learn about accessibility.</p>
  <p class="display-7">Required fields are marked with an asterisk (<abbr class="req" title="required">*</abbr>).</p>
  <div class="mb-3">
   <label for="firstNameField" class="form-label w-100 mb-1 display-65">First Name <abbr class="display-65" title="required">*</abbr></label>
   <input type="text" class="form-control form-field" id="firstNameField" autocomplete="given-name" required>
 </div>
 <div class="mb-3">
  <label for="lastNameField" class="form-label w-100 mb-1 display-65">Last Name</label>
  <input type="text" class="form-control form-field" id="lastNameField" autocomplete="family-name">
</div>
 <div class="mb-3">
  <label for="emailField" class="form-label w-100 mb-1 display-65">Email address <abbr class="display-65" title="required">*</abbr></label>
  <input type="email" class="form-control form-field" id="emailField" autocomplete="email" required>
 </div>
 <button type="submit" class="btn bg-ac text-white display-65">Submit</button>
</form>

<style>
  /* first declaration that is commented out below is for debugging purposes. */
  /* * {
    outline: 1px solid black;
  } */

  *:focus-visible, .form-field:focus {
    outline: 6px dashed #041058;
    outline-offset: 1px 2px;
    box-shadow: none;
    border-radius: 0.5rem;
  }

  .tip-form {
    border: 3.5px solid;
    border-radius: 0.5rem;
  }
</style>