---
import type { PageMetadata } from "@lib/types";
import Layout from "../../layouts/Layout.astro";
import ThemedSection from "../../components/ThemedSection.astro";

const title="Sponsor";
const metadata: PageMetadata = {
  title,
  description: title,
};
const crumbs = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "Join Us",
    href: "/join-us",
  },
];
---

<Layout {title} {crumbs} {metadata}>
  <ThemedSection style="secondary">
    <p class="display-5">Sponsor information coming soon.</p>
  </ThemedSection>
</Layout>
