---
import Branding from "../../components/Branding.astro";
import ExternalLink from "../../components/ExternalLink.astro";
import ImageHeading from "../../components/ImageHeading.astro";
import Layout from "../../layouts/Layout.astro";
import ThemedSection from "../../components/ThemedSection.astro";

import type { Breadcrumbs, PageMetadata } from "@lib/types";

const title = "Volunteer Commitment Form";
const metadata: PageMetadata = {
  title,
  description: title,
};
const crumbs: Breadcrumbs = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "Join Us",
    href: "/join-us",
  },
];
---

<Layout {title} {crumbs} {metadata}>
  <Fragment slot="metadata">
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="noindex" />
    <meta name="googlebot-news" content="noindex" />
  </Fragment>
  <ImageHeading image="team" slot="header">
    Volunteer <strong>Commitment</strong> Form
  </ImageHeading>
  <ThemedSection style="secondary">
    <form
      id="commitmentForm"
      class="col p-4 bg-body border border-2 border-info-contrast rounded"
    >
      <p class="lead">
        Thank you for your interest in committing to volunteer with
        <Branding class="text-primary">Accessible Community</Branding>.
      </p>
      <p class="col-lg-9">
        We are a growing <strong class="text-primary"
          >international community</strong
        > of volunteers working together to improve our communities for people with
        disabilities.
      </p>
      <p class="col-lg-9">
        Please fill out the form below to commit to becoming a volunteer with
        <Branding class="text-primary">Accessible Community</Branding>. As a
        volunteer, everyone is asked to read and agree to follow our
        <a href="/code-of-conduct" target="_blank">Code of Conduct</a>.
      </p>
      <p>
        Required fields have an asterisk (<span class="asterisk">*</span>).
      </p>
      <h3 class="mt-3">Name and Email</h3>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstNameField" class="form-label mb-1 required-field"
            >First Name</label
          ><span class="asterisk"></span>
          <input
            type="text"
            name="FirstName"
            class="form-control w-100"
            id="firstNameField"
            autocomplete="given-name"
            required
          />
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastNameField" class="form-label mb-1 required-field"
            >Last Name</label
          ><span class="asterisk"></span>
          <input
            type="text"
            name="LastName"
            class="form-control w-100"
            id="lastNameField"
            autocomplete="family-name"
            required
          />
        </div>
        <div class="col-md-6 mb-3">
          <label for="emailField" class="form-label mb-1 required-field"
            >Email Address</label
          ><span class="asterisk"></span>
          <input
            type="text"
            name="Email"
            class="form-control w-100"
            id="emailField"
            aria-describedby="emailHelp"
            required
          />
          <div id="emailHelp" class="form-text small">
            The email address we will use for all communications with you.
          </div>
        </div>
      </div>

      <h3 class="mt-3">Code of Conduct</h3>
      <div class="row">
        <div class="mb-3">
          <fieldset>
            <legend class="mb-2 fs-5 required-field">
              Please read the <a href="/code-of-conduct" target="_blank"
                >Code of Conduct</a
              > and indicate your agreement.
              <span class="asterisk" aria-hidden="true"></span>
            </legend>
            <div class="form-check d-flex mb-2 align-items-center">
              <input
                class="form-check-input"
                type="checkbox"
                name="CodeOfConduct"
                value="Yes"
                id="readAgree"
                required
              />
              <label class="form-check-label ps-2" for="readAgree">
                I have read and agree to follow the Code of Conduct.
              </label>
            </div>
          </fieldset>
        </div>
      </div>

      <h3 class="mt-3">Acknowledgement and Social Media</h3>
      <p>
        We proudly display our staff, their roles and reference their social
        media. Please let us know how you would like to be acknowledged and what
        social media (if any) you want us to link to.
      </p>
      <div class="row">
        <div class="col-lg-6 mb-3">
          <label for="citedNameField" class="form-label mb-1 required-field"
            >Cited Name</label
          ><span class="asterisk"></span>
          <input
            type="text"
            name="CitedName"
            class="form-control w-100"
            id="citedNameField"
            aria-describedby="citedNameHelp"
            required
          />
          <div id="citedNameHelp" class="form-text small">
            How you would like your name credit on our website to appear.
          </div>
        </div>
        <div class="col-lg-6 mb-3">
          <label for="linkedInProfileField" class="form-label mb-1"
            >LinkedIn Profile</label
          >
          <input
            type="text"
            name="LinkedInProfile"
            class="form-control w-100"
            aria-describedby="linkedInProfileHelp"
            id="linkedInProfileField"
          />
          <div id="linkedInProfileHelp" class="form-text small">
            The URL of your LinkedIn profile (if you want us to link it).
          </div>
        </div>
      </div>
      <div class="row flex-lg-row-reverse">
        <div class="col-lg-6 mb-3">
          <div class="mb-3">
            <label for="instagramProfileField" class="form-label mb-1"
              >Instagram Profile</label
            >
            <input
              type="text"
              name="InstagramProfile"
              class="form-control w-100"
              aria-describedby="instagramProfileHelp"
              id="instagramProfileField"
            />
            <div id="instagramProfileHelp" class="form-text small">
              The URL of your Instagram profile (if you want us to link it).
            </div>
          </div>
          <div class="mb-3">
            <label for="personalPageField" class="form-label mb-1"
              >Personal Page or other Social Media</label
            >
            <input
              type="text"
              name="OtherPageOrAccount"
              class="form-control w-100"
              aria-describedby="personalPageHelp"
              id="personalPageField"
            />
            <div id="personalPageHelp" class="form-text small">
              The URL of any other pages or accounts (if you want us to link
              it).
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-3">
          <fieldset class="border-3 border-top form-border">
            <legend class="my-3 fs-5">
              We have a Team Spotlight where team members can be highlighted on
              our social media. Would you be open to being a part our Team
              Spotlight in the future?
            </legend>
            <div class="form-check d-flex mb-2 align-items-center">
              <input
                class="form-check-input"
                type="radio"
                name="TeamSpotlight"
                value="No"
                id="teamSpotlightNone"
                checked
              />
              <label class="form-check-label ps-2" for="teamSpotlightNone">
                No, I would not like to be featured in the Team Spotlight.
              </label>
            </div>
            <div class="form-check d-flex mb-2 align-items-center">
              <input
                class="form-check-input"
                type="radio"
                name="TeamSpotlight"
                value="Yes"
                id="teamSpotlightYes"
              />
              <label class="form-check-label ps-2" for="teamSpotlightYes">
                Yes, I am open to being featured in the Team Spotlight.
              </label>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col mb-3">
          <h3>T-shirt</h3>
          <fieldset>
            <legend class="mb-2 fs-5">
              If you would like an
              <Branding class="text-primary">Accessible Community</Branding>
              t-shirt, please <ExternalLink
                href="https://docs.google.com/spreadsheets/d/1tlTeDW1qNVGoIBlO3XuNFuf_x4twcZJr_4SlxKWSbHE/edit?usp=sharing"
                >read our t-shirt sizing chart</ExternalLink
              > and select your size.
            </legend>
            <select
              class="form-select mb-2"
              name="TShirtSize"
              aria-label="T-shirt size selection"
            >
              <option selected value="">No T-Shirt, Please</option>
              <option value="XS">Extra Small (XS)</option>
              <option value="S">Small (S)</option>
              <option value="M">Medium (M)</option>
              <option value="L">Large (L)</option>
              <option value="XL">Extra Large (XL)</option>
              <option value="XXL">Double XL (XXL)</option>
              <option value="XXXL">Triple XL (XXXL)</option>
            </select>
          </fieldset>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 my-3 mx-auto">
          <button
            id="commitmentSubmit"
            type="submit"
            class="btn btn-info w-100 general-button">Submit</button
          >
        </div>
      </div>
    </form>
    <div
      class="d-none col p-4 border border-3 border-info-contrast rounded"
      id="commitmentSuccess"
    >
      <div class="lead">
        Thank you for committing to volunteer with
        <Branding class="text-primary">Accessible Community</Branding>. We'll be
        in touch shortly.
      </div>
    </div>
  </ThemedSection>

  <script is:inline>
    const form = document.querySelector("#commitmentForm");
    const submitButton = document.querySelector("#commitmentSubmit");
    const scriptURL =
      "https://script.google.com/macros/s/AKfycbwoyy1tGaNv7-r8HJkA8SoWlKF7tCIynkbUOxQAM4adtK3eKHqwUcksLD-Fj1fRPw/exec";

    form.addEventListener("submit", (e) => {
      submitButton.disabled = true;
      e.preventDefault();

      let requestBody = new FormData(form);
      const teams = requestBody.getAll("Teams");
      requestBody.delete("Teams");
      requestBody.set("Teams", teams.join(", "));

      fetch(scriptURL, {
        method: "POST",
        body: requestBody,
        mode: "no-cors",
      })
        .then((response) => {
          form.classList.add("d-none");
          const successMessage = document.querySelector("#commitmentSuccess");
          successMessage.classList.remove("d-none");
        })
        .catch((error) => {
          alert("Error!", error.message);
          submitButton.disabled = false;
        });
    });
  </script>

  <style>
    /* first declaration that is commented out below is for debugging purposes. */
    /* * {
   outline: 1px solid black;
 } */

    fieldset label {
      cursor: pointer;
    }

    .form-text-area {
      height: 6em;
    }
  </style></Layout
>
