---
import Layout from '../../layouts/Layout.astro';

const title = 'Join Us';
const heading = title;

const crumbs = [{
  name: 'Home', href: '/',
}, {
  name: 'Join Us', href: '/join-us',
}];
---

<Layout title={title} crumbs={crumbs} heading={heading}>
  <div class="container-fluid">
    <ul class="py-5 display-5">
      <li>
        <a href="/join-us/volunteer">Volunteer</a>
      </li>
      <li>
        <a href="/join-us">Donate</a>
      </li>
      <li>
        <a href="/join-us/sponsor">Sponsor</a>
      </li>
    </ul>
  </div>
</Layout>