---
import type { PageMetadata } from "@lib/types";
import Layout from "../../layouts/Layout.astro";
import ThemedSection from "../../components/ThemedSection.astro";

const title = "Sponsor";
const metadata: PageMetadata = {
  title,
  description: title,
};
const crumbs = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "Join Us",
    href: "/join-us",
  },
];
---

<Layout {title} {crumbs} {metadata}>
  <ThemedSection style="secondary">
    <h2>Support our mission</h2>
    <p class="display-5">At Accessible Community, we grow disability and senior inclusive communities through socially responsible technology. Help us provide free and low cost tools and information to help local organizations, accessibility professionals, seniors, and people with disabilities connect and make the world a bit more inclusive.</p>
  </ThemedSection>
  <ThemedSection style="primary">
    <h2>Sponsorship levels</h2>
    <p class="display-5">At Accessible Community, we grow disability and senior inclusive communities through socially responsible technology. Help us provide free and low cost tools and information to help local organizations, accessibility professionals, seniors, and people with disabilities connect and make the world a bit more inclusive.</p>
    <ul>
      <li>Silver ($2,500): Sponsor the mentoring program or ta11y. Logo and link on sponsorship page. Logo and link on sponsored web site and social media advertising the program.</li>
      <li>Gold ($5,000): Sponsors mentoring program and ta11y (Logo and link on sponsored web site and social media advertising the program) OR a community in loca11y (sponsorship card within the community)</li>
      <li>Platinum ($25,000): Sponsors mentoring program, ta11y and a community in loca11y with benefits listed in Gold. Also sponsor card in footer on all accessible community web pages and github repostitories.</li>
    </ul>
  </ThemedSection>
  <ThemedSection style="secondary">
    <h2>Audience demographics</h2>
  </ThemedSection>
  <ThemedSection style="contact">
    <h2>Contact us to become a sponsor</h2>
    <p>Email our executive director at <a href="mailto:rachael@accessiblecommunity.org">rachael@accessiblecommunity.org</a> if you are interested in sponsorships.</p>
  </ThemedSection>
</Layout>
