---
import Layout from '../../layouts/Layout.astro';
import Section from '../../components/Section.astro';

const title = 'Sponsor';
const heading = title;

const crumbs = [{
  name: 'Home', href: '/',
}, {
  name: 'Join Us', href: '/join-us',
}];
---

<Layout title={title} crumbs={crumbs} heading={heading}>
 <Section>
  <p>Sponsor infomation coming soon.</p>
 </Section>
</Layout>