---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Team Members" heading="Our Teams">
  <ul>
    <li>
      <a href="/team-members/board">Board Members</a>
    </li>
    <li>
      <a href="/team-members/leadership">Leadership and Staff</a>
    </li>
    <li>
      <a href="/team-members/mutua11y"><b>mutu</b>a11y</a>
    </li>
    <li>
      <a href="/team-members/ta11y"><b>t</b>a11y</a>
    </li>
    <li>
      Previous Contributors
    </li>
  </ul>
</Layout>
