---
import Layout from '../../layouts/Layout.astro';
import Section from '../../components/Section.astro';
---

<Layout title="Previous Contributors">
 <Section theme="body-tertiary">
  <h2 class="fw-bold display-4">Thank Our Previous Contributors</h2>
  <div class="col-xxl-9 pb-3">
   <p class="display-6">We sincerely appreciate the time and energy that each person listed below has contributed to our mission.</p>
  </div>
  <div class="row">
   <div class="col-md-6">
    <div class="card mb-3 shadow team-card">
     <div class="card-header team-header">
      <h3 class="fw-bold display-5">Board Members</h3>
     </div>
     <div class="card-body">
      <ul>
       <li class="display-6">Tammi Smith (Board Secretary 2019-2021)</li>
       <li class="display-6">Ben Wilson (Board President 2017-2019)</li>
      </ul>
     </div>
    </div>
   </div>
   <div class="col-md-6">
    <div class="card mb-3 shadow team-card">
     <div class="card-header team-header">
      <h3 class="fw-bold display-5">Leadership Team</h3>
     </div>
     <div class="card-body">
      <ul>
       <li class="display-6">Abdullah (Director of Donor Relations 2020-2021)</li>
       <li class="display-6">Marjana C. (Loca11y Project Manager 2022)</li>
      </ul>
     </div>
    </div>
   </div>
   <div class="col-md-6">
    <div class="card mb-3 shadow team-card">
     <div class="card-header team-header">
      <h3 class="fw-bold display-5">Contributors</h3>
     </div>
     <div class="card-body">
      <ul>
       <li class="display-6">Brian Chu</li>
       <li class="display-6">Hayley Dott</li>
       <li class="display-6">Albert Kim</li>
       <li class="display-6">Eleanor Waldschuetz</li>
      </ul>
     </div>
    </div>
   </div>
   <div class="col-md-6">
    <div class="card mb-3 shadow team-card">
     <div class="card-header team-header">
      <h3 class="fw-bold display-5">Interns</h3>
     </div>
     <div class="card-body">
      <ul>
       <li class="display-6">Arshiya Bharatam</li>
       <li class="display-6">Young Chen</li>
       <li class="display-6">Coleen Cox</li>
       <li class="display-6">Yash Dubey</li>
       <li class="display-6">Tarry G.</li>
       <li class="display-6">Ashley McNair</li>
       <li class="display-6">Alexander Steele</li>
       <li class="display-6">Evan Tansil</li>
       <li class="display-6">Gabrielle Trilling</li>
      </ul>
     </div>
    </div>
   </div>
   <div class="col-md-6">
    <div class="card mb-3 shadow team-card">
     <div class="card-header team-header">
      <h3 class="fw-bold display-5">Special Projects</h3>
     </div>
     <div class="card-body">
      <h4 class="fw-bold display-6">University of Maryland, Impact Consulting Fellowship (Spring 2021)</h4>
      <ul>
       <li class="display-6">Percy Chipunza</li>
       <li class="display-6">Nathan Gallagher</li>
       <li class="display-6">Steven Haigler</li>
       <li class="display-6">Andrew Kasner</li>
       <li class="display-6">Melanie Rojas</li>
      </ul>
      <h4 class="fw-bold display-6">University of Maryland, Capstone Project (Spring 2021)</h4>
      <ul>
       <li class="display-6">Manar Al-badarneh</li>
       <li class="display-6">Emily Barbagallo</li>
       <li class="display-6">Andrew Day</li>
       <li class="display-6">Angad Dhillon</li>
       <li class="display-6">Jonathan Fuentes</li>
       <li class="display-6">Sammi Lacovara</li>
      </ul>
     </div>
    </div>
   </div>
  </div>
 </Section>
</Layout>

<style>
  /* first declaration that is commented out below is for debugging purposes. */
  /* {
    outline: 1px solid black;
  } */

 .team-header {
   background-color: white;
 }
</style>