---
import Layout from '../../layouts/Layout.astro';
import Section from '../../components/Section.astro';
---

<Layout title="Thank Our Previous Contributors">
 <Section theme="body-tertiary">
 </Section>
</Layout>