---
import { getOpenGraphImageData } from "@lib/og-image";
import type { Breadcrumbs, PageMetadata } from "@lib/types";

const title = "globa11y";
const metadata: PageMetadata = {
  title,
  description: "Overview of the globa11y Initiative",
  image: getOpenGraphImageData(Astro.site, "pages", "globa11y"),
};
const crumbs: Breadcrumbs = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "Services",
    href: "/services",
  },
];

import Branding from "@components/Branding.astro";
import Hero from "@components/ColumnedHero.astro";
import Layout from "../../../layouts/Layout.astro";
import ThemedSection from "@components/ThemedSection.astro";

import heroBg from "src/images/np_Man with prosthetic hand typing on a computer_4jzKz4_free.jpg";
import { Icon } from "astro-icon/components";
---

<Layout {title} brandedTitle {crumbs} {metadata}>
  <Hero
    image={heroBg}
    slot="header"
    reverse
    vertical-position="22%"
    horizontal-position="78%"
  >
    <div class="py-2 px-2" slot="heading">
      <h1 class="display-4">
        <span class="me-1">Introducing</span>
        <span class="text-nowrap">
          <Icon class="bi" name="globa11y-logo" aria-hidden="true" />
          <Branding>globa11y</Branding>
        </span>
      </h1>
    </div>
    <div class="py-3">
      <p class="text-bg-hero">
        A <strong class="text-brand">pilot social enterprise initiative</strong>
        to help bridge the gap between digital accessibility skills development,
        employment opportunities, government and small-to-medium business needs.
      </p>
    </div>
  </Hero>
  <ThemedSection theme="secondary" style="subtle">
    <h2>Our Mission</h2>
    <p>
      Through <Branding>globa11y</Branding>, we empower low-income people with
      disabilities by providing the technical skills they need to build
      sustainable careers in technology and digital accessibility. Through
      hands-on training, mentorship, and direct industry engagement, we create
      meaningful pathways to employment while addressing the global demand for
      accessibility expertise.
    </p>
  </ThemedSection>
  <ThemedSection>
    <h2>Our Vision</h2>
    <p>
      We envision a world where accessibility is a core component of technology
      and digital experiences. By equipping individuals with disabilities to
      lead the way in accessible design and development, we are breaking down
      barriers and building a future where inclusion drives innovation.
    </p>
  </ThemedSection>
  <ThemedSection theme="primary" style="subtle">
    <h2>Current Activities</h2>
    <p>
      <Branding>globa11y</Branding> is currently in its <strong
        >pilot phase</strong
      >, testing and refining our approach to empowering people with
      disabilities for successful careers in digital accessibility and
      technology. During this critical period, we're establishing partnerships,
      developing training programs, and gathering feedback to enhance our
      impact. Volunteers in the pilot phase have a unique opportunity to shape
      globa11y's future while directly supporting meaningful change
    </p>
  </ThemedSection>
  <ThemedSection theme="secondary" style="subtle">
    <h2>Who We Are</h2>
    <p>
      <Branding>globa11y</Branding>, an initiative of <Branding
        >Accessible Community</Branding
      > (a 501(c)(3) nonprofit), bridges the gap between skills development and meaningful
      employment for people with disabilities. Through rigorous, accessible training
      in web development, digital accessibility, Artificial Intelligence , and inclusion
      strategies, we empower participants to secure dignified, fair employment in
      tech and accessibility.
    </p>
    <p
      >Recognizing disproportionately high unemployment rates among disabled
      communities worldwide, we partner with coding bootcamps, employers, and
      government programs to create apprenticeships, job placement support, and
      mentorship opportunities.</p
    >
    <p
      >Our sustainable, dual-impact model provides professional accessibility
      consulting services, with profits directly reinvested into our education
      programs. This creates a powerful growth cycle: organizations become more
      accessible, and participants gain lasting careers in a rapidly expanding
      field.</p
    >
  </ThemedSection>
  <ThemedSection theme="tertiary">
    <h2>Join Us</h2>
    <div>
      <p>
        At <Branding>globa11y</Branding>, we believe accessibility is a right,
        not a privilege. Whether you're an aspiring technologist with a
        disability, an employer seeking to hire skilled accessibility
        professionals, or an organization looking for expert consulting, you
        have a place here.
      </p>
      <p>
        We're building a global community of changemakers, and we need
        passionate people like you to help us make it happen.
      </p>
    </div>
    <div class="row row-cols-lg-2 g-5 py-4">
      <div class="col-lg-6">
        <h3>Volunteer With Us</h3>
        <p> We're currently seeking volunteers in the following roles: </p>
        <ul>
          <li
            >Project Managers/Scrum Masters - Keep us focused, aligned, and
            thriving</li
          >
          <li
            >Researchers - Investigate local coding bootcamps and community
            resources</li
          >
          <li>Content Authors - Craft inclusive, engaging copy</li>
          <li>Translators - Help us reach more people in more languages</li>
          <li
            >Marketing Specialists - Help us share our story and amplify our
            impact</li
          >
        </ul>
        <p> No matter your skill set, there's a role for you. </p>
      </div>
      <div class="col-lg-6">
        <h3>Partner With Us</h3>
        <p>
          We're also looking to collaborate with organizations who share our
          values. <Branding>globa11y</Branding> welcomes:
        </p>
        <ul>
          <li> Corporate Donors - Invest in equity and digital inclusion. </li>
          <li>
            Coding Bootcamps - Partner with us to support our mission by helping
            us provide accessible development education and receive support in
            making your curriculum accessible to everyone.
          </li>
          <li>
            Instructors - Teach and mentor the next generation of accessibility
            professionals.
          </li>
        </ul>
        <p>
          Together, we can build a talent pipeline that works for everyone.
        </p>
      </div>
      <div class="col-lg-8">
        <h3>Get Involved</h3>
        <p>
          Ready to be part of something bold, human, and hopeful? <a
            href="/volunteer#form">Become a Volunteer</a
          >.
        </p>
        <p>
          Let's partner to create a future that includes everyone and leaves no
          one behind. Contact us at <a
          class="link-truncate"
          href="mailto:globa11y@accessiblecommunity.org"
            >globa11y@accessiblecommunity.org</a
          >
        </p>
      </div>
    </div>
  </ThemedSection>
  <style scoped>
    .logo {
      height: 1em;
      width: auto;
    }
  </style>
</Layout>
