---
import NavDropdownMenu from "./NavDropdownMenu.astro";

interface Props {
  main?: boolean;
  class?: string;
}

const { main = false, class: classes = "" } = Astro.props;
---

<Fragment>
  <ul class:list={["navbar-nav", classes]}>
    <NavDropdownMenu name="about" />
    <NavDropdownMenu name="projects" />
    <NavDropdownMenu name="outreach" />
    <NavDropdownMenu name="team" />
    <NavDropdownMenu name="recruit" hide-tags={main ? ["button"] : []} />
  </ul>
  {
    main && (
      <a
        class="btn btn-info btn-contrast-dark display-65 mx-1 my-1"
        href="/donate"
        role="button"
      >
        Donate
      </a>
    )
  }
</Fragment>

<style>
  .nav-link {
    margin-inline: 0.222em;
    margin-top: 0.222em;
    margin-bottom: 0.222em;
    --bs-nav-link-padding-y: 0.222em;
    --bs-nav-link-padding-x: 0.222em;
  }

  .dropdown-menu .dropdown-item {
    margin-bottom: 0.333em;
  }
</style>
