---
import NavDropdownMenu from "./NavDropdownMenu.astro";

interface Props {
  main?: boolean;
  class?: string;
}

const { main = false, class: classes = "" } = Astro.props;
---

<Fragment>
  <ul class:list={["navbar-nav", classes]}>
    <NavDropdownMenu name="about" />
    <NavDropdownMenu name="projects" />
    <NavDropdownMenu name="outreach" />
    <NavDropdownMenu name="team" />

    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        data-bs-toggle="dropdown"
        href="#"
        role="button"
        aria-expanded="false">Join us</a
      >
      <ul class="dropdown-menu px-15 pb-1">
        {
          !main && (
            <li>
              <a class="dropdown-item" href="/donate">
                Donate
              </a>
            </li>
          )
        }
        <li><a class="dropdown-item" href="/volunteer">Volunteer</a></li>
        <!-- TODO: Hiding the sponsor page until it's done. -->
        <!-- <li><a class="dropdown-item" href="/join-us/sponsor">Sponsor</a></li> -->
      </ul>
    </li>
  </ul>
  {
    main && (
      <a
        class="btn btn-info btn-contrast-dark display-65 mx-1 my-1"
        href="/donate"
        role="button"
      >
        Donate
      </a>
    )
  }
</Fragment>

<style>
  .nav-link {
    margin-inline: 0.222em;
    margin-top: 0.222em;
    margin-bottom: 0.222em;
    --bs-nav-link-padding-y: 0.222em;
    --bs-nav-link-padding-x: 0.222em;
  }

  .dropdown-menu .dropdown-item {
    margin-bottom: 0.333em;
  }
</style>
